{
  "swagger": "2.0",
  "info": {
    "description": "### ОЦРВ Портал\n",
    "version": "0.0.2",
    "title": "",
    "termsOfService": "",
    "contact": {
      "email": ""
    },
    "x-logo": {
      "url": "",
      "backgroundColor": "#FFFFFF"
    }
  },
  "basePath": "/api/v1",
  "host": "demo.com",
  "tags": [{
    "name": "auth",
    "description": "Авторизация"
  }, {
    "name": "departments",
    "description": "Структура предприятия."
  }, {
    "name": "employee",
    "description": "Сотрудники"
  }, {
    "name": "document",
    "description": "Документы"
  }, {
    "name": "task",
    "description": "Задачи"
  }, {
    "name": "calendar",
    "description": "Календарь"
  }],
  "x-tagGroups": [{
    "name": "Endpoints",
    "tags": [
      "auth",
      "departments",
      "employee",
      "document",
      "task",
      "calendar",
      "notification"
    ]
  }],
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "responses": {
    "Forbidden": {
      "description": "Ошибка доступа",
      "schema": {
        "$ref": "#/definitions/AppError"
      }
    },
    "Unauthorized": {
      "description": "Ошибка авторизации",
      "schema": {
        "$ref": "#/definitions/AppError"
      }
    },
    "BadRequest": {
      "description": "Неверные или отсутствующие параметры в URL или теле запроса",
      "schema": {
        "$ref": "#/definitions/AppError"
      }
    },
    "NotFound": {
      "description": "Resource not found",
      "schema": {
        "$ref": "#/definitions/AppError"
      }
    },
    "TooLarge": {
      "description": "Content too large",
      "schema": {
        "$ref": "#/definitions/AppError"
      }
    },
    "NotImplemented": {
      "description": "Feature is disabled",
      "schema": {
        "$ref": "#/definitions/AppError"
      }
    },
    "InternalServerError": {
      "description": "Something went wrong with the server",
      "schema": {
        "$ref": "#/definitions/AppError"
      }
    }
  },
  "paths": {
    "/user.login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Авторизация пользователя",
        "description": "Пароль в явном виде необходим для авторизации через AD",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "required": [
              "USERNAME",
              "PASSWORD"
            ],
            "properties": {
              "USERNAME": {
                "type": "string",
                "title": "Логин пользователя",
                "examples": [
                  "o.kravtsov"
                ]
              },
              "PASSWORD": {
                "type": "string",
                "title": "Пароль пользователя",
                "examples": [
                  "MrymSYc83dd668118119eb95eeb7479307d7e8f1"
                ]
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/user.logout": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Выход пользователя",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/StatusOK"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/user.attach": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": null,
        "description": "Привязка токена устройства",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "required": [
              "DEVICE_ID"
            ],
            "properties": {
              "DEVICE_ID": {
                "type": "string",
                "title": "Токен устройства",
                "description": "Токен устройства для APN и FB",
                "examples": [
                  "5499fdaadsd09ddks00s99f88dfer9e9nb0b00bbnb0n0h"
                ]
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/StatusOK"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/employee.current": {
      "get": {
        "tags": [
          "employee"
        ],
        "summary": null,
        "description": "Информация о текущем сотруднике",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/UserGetResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/employee.get": {
      "get": {
        "post": [
          "employee"
        ],
        "summary": "Информация о сотрудниках",
        "description": "При заданном занчании параметра LAST_SYNC_DATE возвращаются элементы измненные после заданной даты. Параметры кроме auth являються не обязательными",
        "parameters": [{
            "in": "body",
            "name": "post",
            "description": "json",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "LAST_SYNC_DATE": {
                  "name": "LAST_SYNC_DATE",
                  "in": "query",
                  "description": "Дата (unix-время) последней успешной синхронизации",
                  "type": "integer",
                  "examples": [
                    1525735820
                  ]
                },
                "ID": {
                  "name": "ID",
                  "in": "query",
                  "description": "Внутренний идентификатор пользователя (возможно передавать массив значений)",
                  "type": "integer",
                  "examples": [
                    2332
                  ]
                },
                "UF_DEPARTMENT": {
                  "name": "UF_DEPARTMENT",
                  "in": "query",
                  "description": "Внутренний подразделения по организационной структуре  (возможно передавать массив значений)",
                  "type": "integer",
                  "examples": [
                    12
                  ]
                },
                "UF_ADMIN_DEPARTMENT": {
                  "name": "UF_ADMIN_DEPARTMENT",
                  "in": "query",
                  "description": "Внутренний подразделения по управленческой структуре  (возможно передавать массив значений)",
                  "type": "integer",
                  "examples": [
                    12
                  ]
                },
                "LIMIT": {
                  "name": "PAGE",
                  "description": "Кол-во элементов при постраничном просмотре (если не задан отдает все элементы)",
                  "type": "integer",
                  "default": 500,
                  "required": false
                },
                "PAGE": {
                  "name": "PAGE",
                  "in": "query",
                  "description": "Номер страницы (начинается с 0)",
                  "type": "integer",
                  "default": 0,
                  "required": false
                }
              }
            }
          },


          {
            "name": "auth",
            "in": "query",
            "description": "Токен авторизации",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/UserGetResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/absence.info": {
      "get": {
        "tags": [
          "employee"
        ],
        "summary": "Информация о типах отсутсвия",
        "parameters": [
          {
            "in": "body",
            "name": "post",
            "description": "json",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "LAST_SYNC_DATE": {
                  "name": "LAST_SYNC_DATE",
                  "in": "query",
                  "description": "Дата (unix-время) последней успешной синхронизации",
                  "type": "integer",
                  "examples": [
                    1525735820
                  ]
                },
                "LIMIT": {
                  "name": "PAGE",
                  "description": "Кол-во элементов при постраничном просмотре (если не задан отдает все элементы)",
                  "type": "integer",
                  "default": 500,
                  "required": false
                },
                "PAGE": {
                  "name": "PAGE",
                  "in": "query",
                  "description": "Номер страницы (начинается с 0)",
                  "type": "integer",
                  "default": 0,
                  "required": false
                }
              }
            }
          }, {
            "name": "auth",
            "in": "query",
            "description": "Токен авторизации",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/AbsenceTypeInfoResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/departments.root": {
      "get": {
        "tags": [
          "departments"
        ],
        "summary": "Список филиалов",
        "description": "При заданном занчании параметра LAST_SYNC_DATE возвращаются элементы измненные после заданной даты. Параметры кроме auth являються не обязательными",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "properties": {
              "LAST_SYNC_DATE": {
                "name": "LAST_SYNC_DATE",
                "in": "query",
                "description": "Дата (unix-время) последней успешной синхронизации",
                "type": "integer",
                "examples": [
                  1525735820
                ]
              },
              "LIMIT": {
                "name": "PAGE",
                "description": "Кол-во элементов при постраничном просмотре (если не задан отдает все элементы)",
                "type": "integer",
                "default": 500,
                "required": false
              },
              "PAGE": {
                "name": "PAGE",
                "in": "query",
                "description": "Номер страницы (начинается с 0)",
                "type": "integer",
                "default": 0,
                "required": false
              }
            }
          }
        }, {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/DepartmentRootResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/departments.admin.tree": {
      "get": {
        "tags": [
          "departments"
        ],
        "summary": "Управленческая структура подразделений",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/DepartmentTreeResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/departments.admin.get": {
      "get": {
        "tags": [
          "departments"
        ],
        "summary": "Список подразделений по управленческой структуре",
        "description": "При заданном занчании параметра LAST_SYNC_DATE возвращаются элементы измненные после заданной даты. Параметры кроме auth являються не обязательными",
        "parameters": [{
            "in": "body",
            "name": "post",
            "description": "json",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "LAST_SYNC_DATE": {
                  "name": "LAST_SYNC_DATE",
                  "in": "query",
                  "description": "Дата (unix-время) последней успешной синхронизации",
                  "type": "integer",
                  "examples": [
                    1525735820
                  ]
                },
                "ID": {
                  "name": "ID",
                  "in": "query",
                  "description": "идентификатор подразделения (возможно передавать массив значений)",
                  "type": "integer",
                  "examples": [
                    2332
                  ]
                },

                "LIMIT": {
                  "name": "LIMIT",
                  "description": "Кол-во элементов при постраничном просмотре (если не задан отдает все элементы)",
                  "type": "integer",
                  "default": 500,
                  "required": false
                },
                "PAGE": {
                  "name": "PAGE",
                  "in": "query",
                  "description": "Номер страницы (начинается с 0)",
                  "type": "integer",
                  "default": 0,
                  "required": false
                }
              }
            }
          },

          {
            "name": "auth",
            "in": "query",
            "description": "Токен авторизации",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/DepartmentResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/departments.internal.tree": {
      "get": {
        "tags": [
          "departments"
        ],
        "summary": "Организационная структура подразделений",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/DepartmentTreeResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/departments.internal.get": {
      "get": {
        "tags": [
          "departments"
        ],
        "summary": "Список подразделений по организационной структуре",
        "description": "При заданном занчании параметра LAST_SYNC_DATE возвращаются элементы измненные после заданной даты. Параметры кроме auth являються не обязательными.",
        "parameters": [{
            "in": "body",
            "name": "post",
            "description": "json",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "LAST_SYNC_DATE": {
                  "name": "LAST_SYNC_DATE",
                  "in": "query",
                  "description": "Дата (unix-время) последней успешной синхронизации",
                  "type": "integer",
                  "examples": [
                    1525735820
                  ]
                },
                "ID": {
                  "name": "ID",
                  "in": "query",
                  "description": "идентификатор подразделения (возможно передавать массив значений)",
                  "type": "integer",
                  "examples": [
                    2332
                  ]
                },
                "LIMIT": {
                  "name": "LIMIT",
                  "description": "Кол-во элементов при постраничном просмотре (если не задан отдает все элементы)",
                  "type": "integer",
                  "default": 500,
                  "required": false
                },
                "PAGE": {
                  "name": "PAGE",
                  "in": "query",
                  "description": "Номер страницы (начинается с 0)",
                  "type": "integer",
                  "default": 0,
                  "required": false
                }
              }
            }
          },

          {
            "name": "auth",
            "in": "query",
            "description": "Токен авторизации",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/DepartmentResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/document.list": {
      "get": {
        "tags": [
          "document"
        ],
        "summary": "Список документов",
        "description": "",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/DocumentListResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/document.categories": {
      "get": {
        "tags": [
          "document"
        ],
        "summary": "Список категорий документов",
        "description": "",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/DocumentCategoriesResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/document.add": {
      "post": {
        "tags": [
          "document"
        ],
        "summary": "Добавление документа",
        "description": "",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "$ref": "#/definitions/DocumentPattern"
          }
        }, {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/StatusOK"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/task.list": {
      "get": {
        "tags": [
          "task"
        ],
        "summary": "Список задач",
        "description": "",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/TaskListResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/task.sign": {
      "post": {
        "tags": [
          "task"
        ],
        "summary": "Подписание задачи",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "properties": {
              "TASK_ID": {
                "name": "TASK_ID",
                "in": "query",
                "description": "идентификатор задачи",
                "type": "integer",
                "examples": [
                  2332
                ]
              },
              "TASK_COMMENT": {
                "name": "TASK_COMMENT",
                "in": "query",
                "description": "комментарий",
                "type": "string",
                "examples": [
                  "test comment"
                ]
              },
              "BUTTON": {
                "$ref": "#/definitions/TaskButton"
              }
            }
          }
        }, {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/StatusOK"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/calendar.section.get": {
      "get": {
        "tags": [
          "calendar"
        ],
        "summary": "Список календарей",
        "description": "",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/CalendarSectionGetResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/calendar.event.get": {
      "get": {
        "tags": [
          "calendar"
        ],
        "summary": "Список событий календаря",
        "description": "",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "properties": {
              "from": {
                "name": "from",
                "in": "query",
                "description": "Дата (unix-время) начала",
                "type": "integer",
                "examples": [
                  1525735820
                ]
              },
              "to": {
                "name": "to",
                "in": "query",
                "description": "Дата (unix-время) завершения",
                "type": "integer",
                "examples": [
                  1525735820
                ]
              },
              "ownerId": {
                "name": "ownerId",
                "in": "query",
                "description": "идентификатор владельца календаря",
                "type": "integer",
                "examples": [
                  2332
                ]
              }
            }
          }
        }, {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/CalendarEventGetResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/calendar.event.add": {
      "post": {
        "tags": [
          "calendar"
        ],
        "summary": "Создание события",
        "description": "",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "properties": {
              "ownerId": {
                "name": "ownerId",
                "type": "string",
                "in": "query"
              },
              "from": {
                "name": "from",
                "type": "string",
                "in": "query"
              },
              "to": {
                "name": "to",
                "type": "string",
                "in": "query"
              },
              "section": {
                "name": "section",
                "type": "string",
                "in": "query"
              },
              "name": {
                "name": "name",
                "type": "string",
                "in": "query"
              },
              "skip_time": {
                "name": "skip_time",
                "type": "string",
                "in": "query"
              },
              "description": {
                "name": "description",
                "type": "string",
                "in": "query"
              },
              "color": {
                "name": "color",
                "type": "string",
                "in": "query"
              },
              "text_color": {
                "name": "text_color",
                "type": "string",
                "in": "query"
              },
              "accessibility": {
                "name": "accessibility",
                "type": "string",
                "in": "query"
              },
              "importance": {
                "name": "importance",
                "type": "string",
                "in": "query"
              },
              "private_event": {
                "name": "private_event",
                "type": "string",
                "in": "query"
              },
              "rrule": {
                "name": "rrule",
                "type": "string",
                "in": "query"
              },
              "is_meeting": {
                "name": "is_meeting",
                "type": "string",
                "in": "query"
              },
              "location": {
                "name": "location",
                "type": "string",
                "in": "query"
              },
              "remind": {
                "name": "remind",
                "type": "string",
                "in": "query"
              },
              "attendees": {
                "name": "attendees",
                "type": "string",
                "in": "query"
              },
              "host": {
                "name": "host",
                "type": "string",
                "in": "query"
              },
              "meeting": {
                "name": "meeting",
                "type": "string",
                "in": "query"
              }
            }
          }
        }, {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/StatusOK"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/calendar.event.update": {
      "post": {
        "tags": [
          "calendar"
        ],
        "summary": "Обновление события",
        "description": "",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "properties": {
              "id": {
                "name": "id",
                "type": "string",
                "in": "query"
              },
              "ownerId": {
                "name": "ownerId",
                "type": "string",
                "in": "query"
              },
              "from": {
                "name": "from",
                "type": "string",
                "in": "query"
              },
              "to": {
                "name": "to",
                "type": "string",
                "in": "query"
              },
              "section": {
                "name": "section",
                "type": "string",
                "in": "query"
              },
              "name": {
                "name": "name",
                "type": "string",
                "in": "query"
              },
              "skip_time": {
                "name": "skip_time",
                "type": "string",
                "in": "query"
              },
              "description": {
                "name": "description",
                "type": "string",
                "in": "query"
              },
              "color": {
                "name": "color",
                "type": "string",
                "in": "query"
              },
              "text_color": {
                "name": "text_color",
                "type": "string",
                "in": "query"
              },
              "accessibility": {
                "name": "accessibility",
                "type": "string",
                "in": "query"
              },
              "importance": {
                "name": "importance",
                "type": "string",
                "in": "query"
              },
              "private_event": {
                "name": "private_event",
                "type": "string",
                "in": "query"
              },
              "rrule": {
                "name": "rrule",
                "type": "string",
                "in": "query"
              },
              "is_meeting": {
                "name": "is_meeting",
                "type": "string",
                "in": "query"
              },
              "location": {
                "name": "location",
                "type": "string",
                "in": "query"
              },
              "remind": {
                "name": "remind",
                "type": "string",
                "in": "query"
              },
              "attendees": {
                "name": "attendees",
                "type": "string",
                "in": "query"
              },
              "host": {
                "name": "host",
                "type": "string",
                "in": "query"
              },
              "meeting": {
                "name": "meeting",
                "type": "string",
                "in": "query"
              }
            }
          }
        }, {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/StatusOK"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/calendar.entry.delete": {
      "post": {
        "tags": [
          "calendar"
        ],
        "summary": "Удаление события",
        "description": "",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "properties": {
              "id": {
                "name": "id",
                "in": "query",
                "description": "Идентификатор события",
                "type": "string"
              },
              "ownerId": {
                "name": "ownerId",
                "in": "query",
                "description": "Идентификатор владельца календаря",
                "type": "string"
              }
            }
          }
        }, {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/StatusOK"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/notification.get": {
      "post": {
        "tags": [
          "notification"
        ],
        "summary": "Список уведомлений",
        "parameters": [{
            "in": "body",
            "name": "post",
            "description": "json",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "LAST_SYNC_DATE": {
                  "name": "LAST_SYNC_DATE",
                  "in": "query",
                  "description": "Дата (unix-время) последней синхронизации",
                  "type": "integer",
                  "examples": [
                    1525735820
                  ]
                }
              }
            }
          },
          {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/NotificationListResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    }
  },
  "definitions": {
    "AppError": {
      "type": "object",
      "properties": {
        "result": {
          "$ref": "#/definitions/AppErrorResult"
        },
        "status": {
          "type": "string",
          "default": "error"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "AppErrorResult": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "examples": [
            "769"
          ]
        },
        "message": {
          "type": "string",
          "examples": [
            "Ведутся технические работы"
          ]
        },
        "debug": {
          "type": "string",
          "examples": [
            "#1: Bitrix\\Disk\\Storage->getProxyType()            /home/bitrix/www/bitrix/modules/disk/lib/search/indexmanager.php:227            #2: Bitrix\\Disk\\Search\\IndexManager->allowIndex(object)"
          ]
        }
      }
    },
    "Token": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор пользователя",
          "examples": [
            769
          ]
        },
        "ACTIVE": {
          "type": "string",
          "title": "Признак активности",
          "enum": ["Y", "N"],
          "examples": [
            "Y"
          ]
        },
        "SORT": {
          "type": "integer",
          "title": "Позиция при сортировке. чем значение меньше тем запись выше. Если значения равны у записей, сортируются по алфавиту SECOND_NAME",
          "examples": [
            100
          ]
        },
        "TIMESTAMP_X": {

          "type": "integer",
          "title": "Дата изменения элемента",
          "examples": [
            1525735820
          ]
        },
        "EMAIL": {

          "type": "string",
          "title": "Эл. адрес",
          "examples": [
            "Лариса"
          ]
        },
        "NAME": {

          "type": "string",
          "title": "Имя",
          "examples": [
            "Лариса"
          ]
        },
        "LAST_NAME": {

          "type": "string",
          "title": "Фамилия",
          "examples": [
            "Ивановна"
          ]
        },
        "SECOND_NAME": {

          "type": "string",
          "title": "Отчество",
          "examples": [
            "Глебова"
          ]
        },

        "PERSONAL_PHOTO": {
          "$id": "#/properties/PERSONAL_PHOTO",
          "type": "string",
          "title": "Фотография пользователя",
          "examples": [
            "/upload/main/8c2/Глебова Лариса Ивановна.JPG"
          ]
        },
        "WORK_POSITION": {

          "type": "string",
          "title": "Должность",
          "examples": [
            "Заместитель главного бухгалтера"
          ]
        },
        "PERSONAL_MOBILE": {

          "type": "string",
          "title": "Мобильный телефон пользователя",
          "examples": [
            "121"
          ]
        },
        "UF_PHONE_INNER": {

          "type": "string",
          "title": "Внутренний телефон пользователя",
          "examples": [
            "121"
          ]
        },
        "UF_DEPARTMENT": {

          "type": "integer",
          "title": "Внутренний идентификатор подразделения по организационной структуру",
          "examples": [
            "121"
          ]
        },
        "UF_ADMIN_DEPARTMENT": {

          "type": "integer",
          "title": "Внутренний идентификатор подразделения по управленческой структуру",
          "examples": [
            "1232"
          ]
        },
        "UF_ROOT_DEPARTMENT": {

          "type": "integer",
          "title": "Идентификтаор филиал пользователя",
          "examples": [
            "121"
          ]
        },
        "MANAGERS": {
          "title": "Список руководителей пользователя",
          "type": "array",
          "additionalItems": true,
          "items": {
            "type": "integer"
          }
        },
        "ABSENCE": {
          "title": "Список текущего отсутствия пользователя и 2х следующих",
          "type": "array",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/AbsenceInfo"
          }
        }
      }
    },
    "UserWithToken": {
      "type": "object",
      "properties": {
        "ID": {

          "type": "integer",
          "title": "Идентификатор пользователя",
          "examples": [
            769
          ]
        },
        "ACTIVE": {

          "type": "string",
          "title": "Признак активности",
          "enum": ["Y", "N"],
          "examples": [
            "Y"
          ]
        },
        "SORT": {
          "type": "integer",
          "title": "Позиция при сортировке. чем значение меньше тем запись выше. Если значения равны у записей, сортируются по алфавиту SECOND_NAME",
          "examples": [
            100
          ]
        },
        "TIMESTAMP_X": {

          "type": "integer",
          "title": "Дата изменения элемента",
          "examples": [
            1525735820
          ]
        },
        "EMAIL": {

          "type": "string",
          "title": "Эл. адрес",
          "examples": [
            "Лариса"
          ]
        },
        "NAME": {

          "type": "string",
          "title": "Имя",
          "examples": [
            "Лариса"
          ]
        },
        "LAST_NAME": {

          "type": "string",
          "title": "Фамилия",
          "examples": [
            "Ивановна"
          ]
        },
        "SECOND_NAME": {

          "type": "string",
          "title": "Отчество",
          "examples": [
            "Глебова"
          ]
        },
        "PERSONAL_PHOTO": {

          "type": "string",
          "title": "Фотография пользователя",
          "examples": [
            "/upload/main/8c2/Глебова Лариса Ивановна.JPG"
          ]
        },
        "WORK_POSITION": {

          "type": "string",
          "title": "Должность",
          "examples": [
            "Заместитель главного бухгалтера"
          ]
        },
        "PERSONAL_MOBILE": {

          "type": "string",
          "title": "Мобильный телефон пользователя",
          "examples": [
            "121"
          ]
        },
        "UF_PHONE_INNER": {

          "type": "string",
          "title": "Внутренний телефон пользователя",
          "examples": [
            "121"
          ]
        },
        "UF_DEPARTMENT": {

          "type": "integer",
          "title": "Внутренний идентификатор подразделения по организационной структуру",
          "examples": [
            121
          ]
        },
        "UF_ADMIN_DEPARTMENT": {

          "type": "integer",
          "title": "Внутренний идентификатор подразделения по управленческой структуру",
          "examples": [
            1232
          ]
        },
        "UF_ROOT_DEPARTMENT": {
          "$id": "#/properties/UF_DEPARTMENT",
          "type": "string",
          "title": "Филиал пользователя",
          "examples": [
            121
          ]
        },
        "MANAGERS": {
          "title": "Список руководителей пользователя",
          "type": "array",
          "additionalItems": true,
          "items": {
            "type": "integer"
          }
        },
        "ABSENCE": {
          "title": "Список текущего отсутсвии пользователя и 2х следующих",
          "type": "array",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/AbsenceInfo"
          }
        },
        "TOKEN": {
          "$id": "#/properties/TOKEN",
          "type": "string",
          "title": "Токен авторизации пользователя"
        },
        "TOKEN_EXPIRED": {
          "$id": "#/properties/TOKEN_EXPIRED",
          "type": "integer",
          "title": "Дата окончания действия токена, unix-time"
        }
      }
    },
    "AbsenceInfo": {
      "type": "object",
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор записи отсутствия",
          "examples": [
            769
          ]
        },
        "USER_ID": {
          "$id": "#/properties/USER_ID",
          "type": "integer",
          "title": "Идентификатор пользователя",
          "examples": [
            1
          ]
        },
        "TYPE_ID": {
          "$id": "#/properties/TYPE_ID",
          "type": "integer",
          "title": "Идентификатор типа отсутствия",
          "examples": [
            3
          ]
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Тип отсутствия",
          "examples": [
            "Отпуск"
          ]
        },
        "DESCRIPTION": {
          "$id": "#/properties/TOKEN",
          "type": "string",
          "title": "Дополнительное описание отсутствия",
          "examples": [
            "Обучение в skillbox"
          ]
        },
        "START_DATE_TS": {
          "$id": "#/properties/NAME",
          "type": "integer",
          "title": "Дата начала, unix-time",
          "examples": [
            1525735820
          ]
        },
        "END_DATE_TS": {
          "$id": "#/properties/LAST_NAME",
          "type": "integer",
          "title": "Дата окончания, unix-time",
          "examples": [
            1525735820
          ]
        }
      }
    },
    "AbsenceTypeInfo": {
      "type": "object",
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор типа отсутствия",
          "examples": [
            769
          ]
        },
        "NAME": {

          "type": "string",
          "title": "Название типа отсутсвия",
          "examples": [
            "Плановый отпуск"
          ]
        }
      }
    },
    "ArrayIdentifier": {
      "type": "integer"
    },
    "DepartmentTree": {

      "type": "object",
      "title": "Иерархия стурктуры. Неограниченный уровень вложенности подразделений",

      "default": {},
      "additionalProperties": true,
      "required": [
        "ID",
        "IBLOCK_SECTION_ID",
        "UF_HEAD",
        "NAME",
        "PICTURE",
        "DETAIL_URL",
        "RIGHT_MARGIN",
        "LEFT_MARGIN",
        "DEPTH_LEVEL",
        "EMPLOYEES"
      ],
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор подразделения",
          "examples": [
            6051
          ]
        },
        "ACTIVE": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "string",
          "title": "Признак активности",
          "enum": ["Y", "N"],
          "examples": [
            "Y"
          ]
        },
        "SORT": {
          "type": "integer",
          "title": "Позиция при сортировке. чем значение меньше тем запись выше. Если значения равны у записей, сортируются по алфавиту NAME",
          "examples": [
            100
          ]
        },
        "TIMESTAMP_X": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "integer",
          "title": "Дата изменения элемента",
          "examples": [
            1525735820
          ]
        },
        "IBLOCK_SECTION_ID": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "integer",
          "title": "Идентификатор родительского подразделения",
          "examples": [
            6050
          ]
        },
        "UF_HEAD": {
          "$id": "#/properties/UF_HEAD",
          "type": "integer",
          "title": "Идентификатор руководителя подразделения",
          "examples": [
            1077
          ]
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Название",
          "examples": [
            "Блок Главного бухгалтера"
          ]
        },
        "DEPTH_LEVEL": {
          "$id": "#/properties/DEPTH_LEVEL",
          "type": "integer",
          "title": "Уровень вложения подразделения",
          "examples": [
            2
          ]
        },
        "СHILDREN": {
          "$id": "#/properties/EMPLOYEES",
          "type": "array",
          "title": "Список дочерних подразделений. Неограниченный уровень вложенности подразделений",
          "default": [],
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/Department"
          }
        },
        "EMPLOYEES": {
          "$id": "#/properties/EMPLOYEES",
          "type": "array",
          "title": "Список идентификаторов сотрудников подразделения",
          "default": [],
          "additionalItems": true,

          "items": {
            "type": "integer"
          }
        }
      }
    },
    "Department": {
      "type": "object",
      "title": "Подразделение",
      "default": {},
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор подразделения",
          "examples": [
            6051
          ]
        },
        "ACTIVE": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "string",
          "title": "Признак активности",
          "enum": ["Y", "N"],
          "examples": [
            "Y"
          ]
        },
        "SORT": {
          "type": "integer",
          "title": "Позиция при сортировке. чем значение меньше тем запись выше. Если значения равны у записей, сортируются по алфавиту NAME",
          "examples": [
            100
          ]
        },
        "TIMESTAMP_X": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "integer",
          "title": "Дата изменения элемента",
          "examples": [
            1525735820
          ]
        },
        "IBLOCK_SECTION_ID": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "integer",
          "title": "Идентификатор родительского подразделения",
          "examples": [
            6050
          ]
        },
        "UF_HEAD": {
          "$id": "#/properties/UF_HEAD",
          "type": "integer",
          "title": "Идентификатор руководителя подразделения",
          "examples": [
            1077
          ]
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Название",
          "examples": [
            "Блок Главного бухгалтера"
          ]
        },
        "DEPTH_LEVEL": {
          "$id": "#/properties/DEPTH_LEVEL",
          "type": "integer",
          "title": "Уровень вложения подразделения",
          "examples": [
            2
          ]
        },
        "EMPLOYEES": {
          "$id": "#/properties/EMPLOYEES",
          "type": "array",
          "title": "Список идентификаторов сотрудников подразделения",
          "default": [],
          "additionalItems": true,

          "items": {
            "type": "integer"
          }
        }
      }
    },
    "DepartmentRoot": {
      "type": "object",
      "title": "Филиал",
      "default": {},
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор подразделения",
          "examples": [
            6051
          ]
        },
        "ACTIVE": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "string",
          "title": "Признак активности",
          "enum": ["Y", "N"],
          "examples": [
            "Y"
          ]
        },
        "SORT": {
          "type": "integer",
          "title": "Позиция при сортировке. чем значение меньше тем запись выше. Если значения равны у записей, сортируются по алфавиту NAME",
          "examples": [
            100
          ]
        },
        "TIMESTAMP_X": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "integer",
          "title": "Дата изменения элемента",
          "examples": [
            1525735820
          ]
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Название",
          "examples": [
            "Блок Главного бухгалтера"
          ]
        }
      }
    },
    "FileInfo": {
      "type": "object",
      "title": "The File Schema",
      "default": {},
      "examples": [{
        "~src": false,
        "MODULE_ID": "main",
        "DESCRIPTION": "",
        "CONTENT_TYPE": "image/jpeg",
        "TIMESTAMP_X": "07.12.2018 12:35:23",
        "HEIGHT": "2524",
        "FILE_SIZE": "688900",
        "ID": "9490",
        "SUBDIR": "main/8c2",
        "FILE_NAME": "Глебова Лариса Ивановна.JPG",
        "ORIGINAL_NAME": "Глебова Лариса Ивановна.JPG",
        "HANDLER_ID": null,
        "EXTERNAL_ID": "4d1c82c9971dce03e22f38c8051e93cb",
        "SRC": "/upload/main/8c2/Глебова Лариса Ивановна.JPG",
        "WIDTH": "2691"
      }],
      "additionalProperties": true,
      "required": [
        "ID",
        "TIMESTAMP_X",
        "MODULE_ID",
        "HEIGHT",
        "WIDTH",
        "FILE_SIZE",
        "CONTENT_TYPE",
        "SUBDIR",
        "FILE_NAME",
        "ORIGINAL_NAME",
        "DESCRIPTION",
        "HANDLER_ID",
        "EXTERNAL_ID",
        "~src",
        "SRC"
      ],
      "properties": {
        "ID": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/ID",
          "type": "string",
          "title": "The Id Schema",
          "examples": [
            "9490"
          ]
        },
        "TIMESTAMP_X": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/TIMESTAMP_X",
          "type": "string",
          "title": "The Timestamp_x Schema",
          "examples": [
            "07.12.2018 12:35:23"
          ]
        },
        "MODULE_ID": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/MODULE_ID",
          "type": "string",
          "title": "The Module_id Schema",
          "examples": [
            "main"
          ]
        },
        "HEIGHT": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/HEIGHT",
          "type": "string",
          "title": "The Height Schema",
          "examples": [
            "2524"
          ]
        },
        "WIDTH": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/WIDTH",
          "type": "string",
          "title": "The Width Schema",
          "examples": [
            "2691"
          ]
        },
        "FILE_SIZE": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/FILE_SIZE",
          "type": "string",
          "title": "The File_size Schema",
          "examples": [
            "688900"
          ]
        },
        "CONTENT_TYPE": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/CONTENT_TYPE",
          "type": "string",
          "title": "The Content_type Schema",
          "examples": [
            "image/jpeg"
          ]
        },
        "SUBDIR": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/SUBDIR",
          "type": "string",
          "title": "The Subdir Schema",
          "examples": [
            "main/8c2"
          ]
        },
        "FILE_NAME": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/FILE_NAME",
          "type": "string",
          "title": "The File_name Schema",
          "examples": [
            "Глебова Лариса Ивановна.JPG"
          ]
        },
        "ORIGINAL_NAME": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/ORIGINAL_NAME",
          "type": "string",
          "title": "The Original_name Schema",
          "examples": [
            "Глебова Лариса Ивановна.JPG"
          ]
        },
        "DESCRIPTION": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/DESCRIPTION",
          "type": "string",
          "title": "The Description Schema",
          "examples": [
            ""
          ]
        },
        "HANDLER_ID": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/HANDLER_ID",
          "type": "null",
          "title": "The Handler_id Schema",
          "default": null,
          "examples": [
            null
          ]
        },
        "EXTERNAL_ID": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/EXTERNAL_ID",
          "type": "string",
          "title": "The External_id Schema",
          "examples": [
            "4d1c82c9971dce03e22f38c8051e93cb"
          ]
        },
        "~src": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/~src",
          "type": "boolean",
          "title": "The ~src Schema",
          "default": false,
          "examples": [
            false
          ]
        },
        "SRC": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/SRC",
          "type": "string",
          "title": "The Src Schema",
          "examples": [
            "/upload/main/8c2/Глебова Лариса Ивановна.JPG"
          ]
        }
      }
    },
    "Document": {
      "type": "object",
      "title": "Документ Document",
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "string",
          "title": "UUID обьекта",
          "default": 1
        },
        "STATUS": {
          "$id": "#/properties/STATUS",
          "type": "string",
          "title": "Статус",
          "description": "статус документа: pending - в ожидании, completed - исполненный",
          "default": ""
        },
        "XML_ID": {
          "$id": "#/properties/XML_ID",
          "type": "string",
          "title": "Идентификатор документа в компании",
          "default": ""
        },
        "FIELDS": {
          "$id": "#/properties/FIELDS",
          "type": "array",
          "title": "Поля документа DocumentField",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DocumentField"
          }
        },
        "UPDATE_TIME": {
          "type": "integer",
          "title": "Дата создания документа, unix-time",
          "default": 1525735820
        }
      }
    },
    "DocumentField": {
      "type": "object",
      "title": "Поле документы DocumentField",
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "string",
          "title": "UUID обьекта",
          "default": 1
        },
        "PATTERN": {
          "$ref": "#/definitions/DocumentPatternField"
        },
        "VALUE": {
          "$id": "#/properties/VALUE",
          "type": "string",
          "title": "Значение поля",
          "description": "для type: number/dateTime - double, checkBox - boolean, list/flag - [string], period - [double], остальных - string",
          "default": ""
        }
      }
    },
    "DocumentPattern": {
      "type": "object",
      "title": "Шаблон документа DocumentPattern",
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "number",
          "title": "Идентификатор шаблона"
        },
        "TITLE": {
          "$id": "#/properties/TITLE",
          "type": "string",
          "title": "Название",
          "default": "",
          "examples": [
            "Название документа"
          ]
        },
        "TYPE": {
          "$id": "#/properties/TYPE",
          "type": "string",
          "title": "Тип документа",
          "description": "request - заявка, certificate - справка, application - заявление",
          "default": "",
          "examples": [
            "request", "certificate", "application"
          ]
        },
        "FIELDS": {
          "$id": "#/properties/FIELDS",
          "type": "array",
          "title": "Шаблонные поля документа DocumentPatternField",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DocumentPatternField"
          }
        }
      }
    },
    "DocumentPatternField": {
      "type": "object",
      "title": "Поле шаблона документа DocumentPatternField",
      "additionalProperties": true,
      "properties": {
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Идентификатор",
          "default": "",
          "examples": [
            "Идентификатор поля"
          ]
        },
        "TITLE": {
          "$id": "#/properties/TITLE",
          "type": "string",
          "title": "Название",
          "default": "",
          "examples": [
            "Название поля"
          ]
        },
        "TYPE": {
          "$id": "#/properties/TYPE",
          "type": "string",
          "title": "Тип поля",
          "default": "",
          "description": "string, text number, flag (массив string, можно выбрать один элемент), checkBox (true/false), list (массив string, можно выбрать массив элементов), dateTime (Unix time), period (Unix time - Unix time), contact (Contact ID), image (URL), document (URL)",
          "examples": [
            "string", "text", "number", "flag",
            "checkBox", "list", "dateTime",
            "period", "contact",
            "image ", "document"
          ]
        },
        "AVAILABLE_VALUES": {
          "$id": "#/properties/AVAILABLE_VALUES",
          "type": "array",
          "title": "Массив доступных значений поля, может быть пустым",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DocumentFieldData"
          }
        },
        "DATA": {
          "$id": "#/properties/DATA",
          "type": "array",
          "title": "Описание поля",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DocumentFieldData"
          }
        }
      }
    },
    "DocumentFieldData": {
      "type": "object",
      "title": "Поле дополнительного поля документа DocumentFieldData",
      "additionalProperties": true,
      "properties": {
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Тип опции поля",
          "default": "",
          "description": "Доступные значения defaultValue, errorValue, minValue, maxValue, rowValue, colValue, noteValue, regexpValue, enableTime, multiple(true, false), required (true, false)",
          "examples": [
            "defaultValue", "errorValue", "minValue", "maxValue", "rowValue", "colValue", "noteValue", "regexpValue", "multiple", "required"
          ]
        },
        "VALUE": {
          "$id": "#/properties/VALUE",
          "type": "string",
          "title": "Значение опции. Обычная строка",
          "default": ""
        }
      }
    },
    "DocumentCategory": {
      "type": "object",
      "title": "Категория документов",
      "additionalProperties": true,
      "properties": {
        "TITLE": {
          "$id": "#/properties/TITLE",
          "type": "string",
          "title": "Название",
          "default": "Название категории"
        },
        "TYPE": {
          "$id": "#/properties/TYPE",
          "type": "string",
          "title": "Тип категории",
          "description": "single - быстрая категория для одного документа, list - категория со списком документов, group - категория со сгруппированным списком документов",
          "default": "list",
          "examples": [
            "single", "list", "group"
          ]
        },
        "CONTENT": {
          "$id": "#/properties/CONTENT",
          "type": "array",
          "title": "Содержание категории DocumentPattern",
          "description": "для type: single - DocumentPattern, list - [DocumentPattern], group - [string : DocumentPattern]",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DocumentPattern"
          }
        }
      }
    },
    "Notification": {
      "type": "object",
      "title": "Уведомление",
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "string",
          "title": "Тема",
          "default": "",
          "examples": [
            "Идентификатор уведомления"
          ]
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Тема",
          "default": "",
          "examples": [
            "Тема уведомления"
          ]
        },
        "DESCRIPTION": {
          "$id": "#/properties/DESCRIPTION",
          "type": "string",
          "title": "Описание",
          "description": "Описание"
        },
        "CATEGORY": {
          "$id": "#/properties/CATEGORY",
          "type": "string",
          "title": "Категория уведомления",
          "description": "Категория уведомления"
        },
        "TIMESTAMP_X": {
          "type": "integer",
          "title": "Дата создания",
          "description": "Дата создания уведомления, unix-time",
          "default": 1525735820
        }
      }
    },
    "TaskRoot": {
      "type": "object",
      "title": "Задача",
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор задачи",
          "examples": [
            6051
          ]
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Название",
          "examples": [
            "Необходимо согласовать заказ визиток"
          ]
        },
        "DESCRIPTION": {
          "$id": "#/properties/DESCRIPTION",
          "type": "string",
          "title": "Краткое описание",
          "examples": [
            "Исполнитель 50 шт"
          ]
        },
        "MODIFIED": {
          "$id": "#/properties/MODIFIED",
          "type": "integer",
          "title": "Дата изменения элемента",
          "examples": [
            1525735820
          ]
        },
        "COMPLETED": {
          "$id": "#/properties/COMPLETED",
          "type": "string",
          "title": "Завершена",
          "enum": ["Y", "N"],
          "examples": [
            "Y"
          ]
        },
        "STATUS": {
          "type": "integer",
          "title": "Статус задачи.",
          "description": "0 - Running;1 - CompleteYes;2 - CompleteNo;3 - CompleteOk",
          "examples": [
            1
          ]
        },
        "DOCUMENT_URL": {
          "$id": "#/properties/DOCUMENT_URL",
          "type": "array",
          "title": "Документы",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/TaskDocument"
          }
        },
        "BUTTONS": {
          "$id": "#/properties/BUTTONS",
          "type": "array",
          "title": "Кнопки задачи",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/TaskButton"
          }
        }
      }
    },
    "TaskDocument": {
      "type": "object",
      "title": "Документы задачи TaskDocument",
      "additionalProperties": true,
      "properties": {
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Название документа",
          "default": ""
        },
        "URL": {
          "$id": "#/properties/URL",
          "type": "string",
          "title": "Ссылка на документ",
          "default": ""
        }
      }
    },
    "TaskButton": {
      "type": "object",
      "title": "Кнопка задачи TaskButton",
      "additionalProperties": true,
      "properties": {
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Название, внутренний идентификатор кнопки",
          "default": ""
        },
        "TEXT": {
          "$id": "#/properties/TEXT",
          "type": "string",
          "title": "Выводимое название кнопки",
          "default": ""
        }
      }
    },
    "CalendarSection": {
      "type": "object",
      "title": "Календарь",
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "title": "Идентификатор календаря.",
          "type": "string"
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "title": "Название",
          "type": "string"
        },
        "DESCRIPTION": {
          "$id": "#/properties/DESCRIPTION",
          "title": "Описание",
          "type": "string"
        },
        "COLOR": {
          "$id": "#/properties/COLOR",
          "title": "Цвет календаря.",
          "type": "string"
        },
        "TEXT_COLOR": {
          "$id": "#/properties/TEXT_COLOR",
          "title": "TEXT_COLOR",
          "type": "string"
        },
        "OWNER_ID": {
          "$id": "#/properties/OWNER_ID",
          "title": "OWNER_ID",
          "type": "string"
        }
      }
    },
    "CalendarEvent": {
      "type": "object",
      "title": "Список событий календаря",
      "additionalProperties": true,
      "properties": {
        
        "ID": {
          "$id": "#/properties/ID",
          "type": "string",
          "title": "ID"
        },
        "OWNER_ID": {
          "$id": "#/properties/OWNER_ID",
          "type": "string",
          "title": "OWNER_ID"
        },
        "DATE_FROM_TS_UTC": {
          "$id": "#/properties/DATE_FROM_TS_UTC",
          "type": "string",
          "title": "DATE_FROM_TS_UTC"
        },
        "DATE_TO_TS_UTC": {
          "$id": "#/properties/DATE_TO_TS_UTC",
          "type": "string",
          "title": "DATE_TO_TS_UTC"
        },
        "SECT_ID": {
          "$id": "#/properties/SECT_ID",
          "type": "string",
          "title": "SECT_ID"
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "NAME"
        },
        "DT_SKIP_TIME": {
          "$id": "#/properties/DT_SKIP_TIME",
          "type": "string",
          "title": "DT_SKIP_TIME"
        },
        "COLOR": {
          "$id": "#/properties/COLOR",
          "type": "string",
          "title": "COLOR"
        },
        "TEXT_COLOR": {
          "$id": "#/properties/TEXT_COLOR",
          "type": "string",
          "title": "TEXT_COLOR"
        },
        "ACCESSIBILITY": {
          "$id": "#/properties/ACCESSIBILITY",
          "type": "string",
          "title": "ACCESSIBILITY"
        },
        "IMPORTANCE": {
          "$id": "#/properties/IMPORTANCE",
          "type": "string",
          "title": "IMPORTANCE"
        },
        "PRIVATE_EVENT": {
          "$id": "#/properties/PRIVATE_EVENT",
          "type": "string",
          "title": "PRIVATE_EVENT"
        },
        "RRULE": {
          "$id": "#/properties/RRULE",
          "type": "string",
          "title": "RRULE"
        },
        "IS_MEETING": {
          "$id": "#/properties/IS_MEETING",
          "type": "string",
          "title": "IS_MEETING"
        },
        "LOCATION": {
          "$id": "#/properties/LOCATION",
          "type": "string",
          "title": "LOCATION"
        },
        "REMIND": {
          "$id": "#/properties/REMIND",
          "type": "string",
          "title": "REMIND"
        },
        "ATTENDEES_CODES": {
          "$id": "#/properties/ATTENDEES_CODES",
          "type": "string",
          "title": "ATTENDEES_CODES"
        },
        "MEETING_HOST": {
          "$id": "#/properties/MEETING_HOST",
          "type": "string",
          "title": "MEETING_HOST"
        },
        "MEETING": {
          "$id": "#/properties/MEETING",
          "type": "string",
          "title": "MEETING"
        }
      }
    },
    "UserGetResponse": {
      "type": "object",
      "properties": {
        "result": {
          "$ref": "#/definitions/User"
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "DepartmentResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список подразделении",
          "default": [],
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/Department"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "DepartmentRootResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список филиалов",
          "default": [],
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DepartmentRoot"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "DepartmentTreeResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Иерархия подразделении",
          "default": [],
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DepartmentTree"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "AbsenceTypeInfoResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список типов отсутсвия",
          "type": "array",
          "default": [],
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/AbsenceTypeInfo"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "LoginResponse": {
      "type": "object",
      "properties": {
        "result": {
          "$ref": "#/definitions/UserWithToken"
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "DocumentListResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список документов",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/Document"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "DocumentCategoriesResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список категорий документов",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DocumentCategory"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "TaskListResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список задач",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/TaskRoot"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "CalendarSectionGetResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список календарей",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/CalendarSection"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "CalendarEventGetResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список календарей",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/CalendarEvent"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "NotificationListResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список уведомлений",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/Notification"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "StatusOK": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "default": "ok",
          "description": "Будет содержать «ok», если запрос был успешным"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    }
  },
  "externalDocs": null
}