{
  "swagger": "2.0",
  "info": {
    "description": "### ОЦРВ Портал\n",
    "version": "0.0.2",
    "title": "",
    "termsOfService": "",
    "contact": {
      "email": ""
    },
    "x-logo": {
      "url": "",
      "backgroundColor": "#FFFFFF"
    }
  },
  "basePath": "/api/v1",
  "host": "demo.com",
  "tags": [{
    "name": "auth",
    "description": "Авторизация"
  }, {
    "name": "departments",
    "description": "Структура предприятия."
  }, {
    "name": "employee",
    "description": "Сотрудники"
  }, {
    "name": "document",
    "description": "Документы"
  }, {
    "name": "task",
    "description": "Задачи"
  }, {
    "name": "calendar",
    "description": "Календарь"
  }],
  "x-tagGroups": [{
    "name": "Endpoints",
    "tags": [
      "auth",
      "departments",
      "employee",
      "document",
      "task",
      "calendar",
      "notification"
    ]
  }],
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "responses": {
    "Forbidden": {
      "description": "Ошибка доступа",
      "schema": {
        "$ref": "#/definitions/AppError"
      }
    },
    "Unauthorized": {
      "description": "Ошибка авторизации",
      "schema": {
        "$ref": "#/definitions/AppError"
      }
    },
    "BadRequest": {
      "description": "Неверные или отсутствующие параметры в URL или теле запроса",
      "schema": {
        "$ref": "#/definitions/AppError"
      }
    },
    "NotFound": {
      "description": "Resource not found",
      "schema": {
        "$ref": "#/definitions/AppError"
      }
    },
    "TooLarge": {
      "description": "Content too large",
      "schema": {
        "$ref": "#/definitions/AppError"
      }
    },
    "NotImplemented": {
      "description": "Feature is disabled",
      "schema": {
        "$ref": "#/definitions/AppError"
      }
    },
    "InternalServerError": {
      "description": "Something went wrong with the server",
      "schema": {
        "$ref": "#/definitions/AppError"
      }
    }
  },
  "paths": {
    "/user.login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Авторизация пользователя",
        "description": "Пароль в явном виде необходим для авторизации через AD",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "required": [
              "USERNAME",
              "PASSWORD"
            ],
            "properties": {
              "USERNAME": {
                "type": "string",
                "title": "Логин пользователя",
                "examples": [
                  "o.kravtsov"
                ]
              },
              "PASSWORD": {
                "type": "string",
                "title": "Пароль пользователя",
                "examples": [
                  "MrymSYc83dd668118119eb95eeb7479307d7e8f1"
                ]
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/user.logout": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Выход пользователя",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/StatusOK"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/user.attach": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": null,
        "description": "Привязка токена устройства",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "required": [
              "DEVICE_ID"
            ],
            "properties": {
              "DEVICE_ID": {
                "type": "string",
                "title": "Токен устройства",
                "description": "Токен устройства для APN и FB",
                "examples": [
                  "5499fdaadsd09ddks00s99f88dfer9e9nb0b00bbnb0n0h"
                ]
              }
            }
          }
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/StatusOK"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/employee.current": {
      "get": {
        "tags": [
          "employee"
        ],
        "summary": null,
        "description": "Информация о текущем сотруднике",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/UserGetResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/employee.get": {
      "get": {
        "post": [
          "employee"
        ],
        "summary": "Информация о сотрудниках",
        "description": "При заданном занчании параметра LAST_SYNC_DATE возвращаются элементы измненные после заданной даты. Параметры кроме auth являються не обязательными",
        "parameters": [{
            "in": "body",
            "name": "post",
            "description": "json",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "LAST_SYNC_DATE": {
                  "name": "LAST_SYNC_DATE",
                  "in": "query",
                  "description": "Дата (unix-время) последней успешной синхронизации",
                  "type": "integer",
                  "examples": [
                    1525735820
                  ]
                },
                "ID": {
                  "name": "ID",
                  "in": "query",
                  "description": "Внутренний идентификатор пользователя (возможно передавать массив значений)",
                  "type": "integer",
                  "examples": [
                    2332
                  ]
                },
                "UF_DEPARTMENT": {
                  "name": "UF_DEPARTMENT",
                  "in": "query",
                  "description": "Внутренний подразделения по организационной структуре  (возможно передавать массив значений)",
                  "type": "integer",
                  "examples": [
                    12
                  ]
                },
                "UF_ADMIN_DEPARTMENT": {
                  "name": "UF_ADMIN_DEPARTMENT",
                  "in": "query",
                  "description": "Внутренний подразделения по управленческой структуре  (возможно передавать массив значений)",
                  "type": "integer",
                  "examples": [
                    12
                  ]
                },
                "LIMIT": {
                  "name": "PAGE",
                  "description": "Кол-во элементов при постраничном просмотре (если не задан отдает все элементы)",
                  "type": "integer",
                  "default": 500,
                  "required": false
                },
                "PAGE": {
                  "name": "PAGE",
                  "in": "query",
                  "description": "Номер страницы (начинается с 0)",
                  "type": "integer",
                  "default": 0,
                  "required": false
                }
              }
            }
          },


          {
            "name": "auth",
            "in": "query",
            "description": "Токен авторизации",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/UserGetResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/absence.info": {
      "get": {
        "tags": [
          "employee"
        ],
        "summary": "Информация о типах отсутсвия",
        "parameters": [
          {
            "in": "body",
            "name": "post",
            "description": "json",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "LAST_SYNC_DATE": {
                  "name": "LAST_SYNC_DATE",
                  "in": "query",
                  "description": "Дата (unix-время) последней успешной синхронизации",
                  "type": "integer",
                  "examples": [
                    1525735820
                  ]
                },
                "LIMIT": {
                  "name": "PAGE",
                  "description": "Кол-во элементов при постраничном просмотре (если не задан отдает все элементы)",
                  "type": "integer",
                  "default": 500,
                  "required": false
                },
                "PAGE": {
                  "name": "PAGE",
                  "in": "query",
                  "description": "Номер страницы (начинается с 0)",
                  "type": "integer",
                  "default": 0,
                  "required": false
                }
              }
            }
          }, {
            "name": "auth",
            "in": "query",
            "description": "Токен авторизации",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/AbsenceTypeInfoResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/departments.root": {
      "get": {
        "tags": [
          "departments"
        ],
        "summary": "Список филиалов",
        "description": "При заданном занчании параметра LAST_SYNC_DATE возвращаются элементы измненные после заданной даты. Параметры кроме auth являються не обязательными",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "properties": {
              "LAST_SYNC_DATE": {
                "name": "LAST_SYNC_DATE",
                "in": "query",
                "description": "Дата (unix-время) последней успешной синхронизации",
                "type": "integer",
                "examples": [
                  1525735820
                ]
              },
              "LIMIT": {
                "name": "PAGE",
                "description": "Кол-во элементов при постраничном просмотре (если не задан отдает все элементы)",
                "type": "integer",
                "default": 500,
                "required": false
              },
              "PAGE": {
                "name": "PAGE",
                "in": "query",
                "description": "Номер страницы (начинается с 0)",
                "type": "integer",
                "default": 0,
                "required": false
              }
            }
          }
        }, {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/DepartmentRootResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/departments.admin.tree": {
      "get": {
        "tags": [
          "departments"
        ],
        "summary": "Управленческая структура подразделений",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/DepartmentTreeResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/departments.admin.get": {
      "get": {
        "tags": [
          "departments"
        ],
        "summary": "Список подразделений по управленческой структуре",
        "description": "При заданном занчании параметра LAST_SYNC_DATE возвращаются элементы измненные после заданной даты. Параметры кроме auth являються не обязательными",
        "parameters": [{
            "in": "body",
            "name": "post",
            "description": "json",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "LAST_SYNC_DATE": {
                  "name": "LAST_SYNC_DATE",
                  "in": "query",
                  "description": "Дата (unix-время) последней успешной синхронизации",
                  "type": "integer",
                  "examples": [
                    1525735820
                  ]
                },
                "ID": {
                  "name": "ID",
                  "in": "query",
                  "description": "идентификатор подразделения (возможно передавать массив значений)",
                  "type": "integer",
                  "examples": [
                    2332
                  ]
                },

                "LIMIT": {
                  "name": "LIMIT",
                  "description": "Кол-во элементов при постраничном просмотре (если не задан отдает все элементы)",
                  "type": "integer",
                  "default": 500,
                  "required": false
                },
                "PAGE": {
                  "name": "PAGE",
                  "in": "query",
                  "description": "Номер страницы (начинается с 0)",
                  "type": "integer",
                  "default": 0,
                  "required": false
                }
              }
            }
          },

          {
            "name": "auth",
            "in": "query",
            "description": "Токен авторизации",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/DepartmentResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/departments.internal.tree": {
      "get": {
        "tags": [
          "departments"
        ],
        "summary": "Организационная структура подразделений",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/DepartmentTreeResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/departments.internal.get": {
      "get": {
        "tags": [
          "departments"
        ],
        "summary": "Список подразделений по организационной структуре",
        "description": "При заданном занчании параметра LAST_SYNC_DATE возвращаются элементы измненные после заданной даты. Параметры кроме auth являються не обязательными.",
        "parameters": [{
            "in": "body",
            "name": "post",
            "description": "json",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "LAST_SYNC_DATE": {
                  "name": "LAST_SYNC_DATE",
                  "in": "query",
                  "description": "Дата (unix-время) последней успешной синхронизации",
                  "type": "integer",
                  "examples": [
                    1525735820
                  ]
                },
                "ID": {
                  "name": "ID",
                  "in": "query",
                  "description": "идентификатор подразделения (возможно передавать массив значений)",
                  "type": "integer",
                  "examples": [
                    2332
                  ]
                },
                "LIMIT": {
                  "name": "LIMIT",
                  "description": "Кол-во элементов при постраничном просмотре (если не задан отдает все элементы)",
                  "type": "integer",
                  "default": 500,
                  "required": false
                },
                "PAGE": {
                  "name": "PAGE",
                  "in": "query",
                  "description": "Номер страницы (начинается с 0)",
                  "type": "integer",
                  "default": 0,
                  "required": false
                }
              }
            }
          },

          {
            "name": "auth",
            "in": "query",
            "description": "Токен авторизации",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/DepartmentResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/document.list": {
      "get": {
        "tags": [
          "document"
        ],
        "summary": "Список документов",
        "description": "",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/DocumentListResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/document.categories": {
      "get": {
        "tags": [
          "document"
        ],
        "summary": "Список категорий документов",
        "description": "",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/DocumentCategoriesResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/document.add": {
      "post": {
        "tags": [
          "document"
        ],
        "summary": "Добавить документ",
        "description": "",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "$ref": "#/definitions/DocumentPattern"
          }
        }, {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/StatusOK"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/task.list": {
      "get": {
        "tags": [
          "task"
        ],
        "summary": "Список задач",
        "description": "",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/TaskListResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/task.sign": {
      "post": {
        "tags": [
          "task"
        ],
        "summary": "Подписать задачу",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "properties": {
              "TASK_ID": {
                "name": "TASK_ID",
                "in": "query",
                "description": "идентификатор задачи",
                "type": "integer",
                "examples": [
                  2332
                ]
              },
              "TASK_COMMENT": {
                "name": "TASK_COMMENT",
                "in": "query",
                "description": "комментарий",
                "type": "string",
                "examples": [
                  "test comment"
                ]
              },
              "BUTTON": {
                "$ref": "#/definitions/TaskButton"
              }
            }
          }
        }, {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/StatusOK"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/calendar.meeting.list": {
      "get": {
        "tags": [
          "calendar"
        ],
        "summary": "Список переговорных",
        "description": "",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/CalendarMeetingListResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/calendar.meeting.room": {
      "get": {
        "tags": [
          "calendar"
        ],
        "summary": "Переговорная с записями",
        "description": "",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "properties": {
              "DATE_FROM": {
                "name": "DATE_FROM",
                "in": "query",
                "description": "Дата (unix-время) начала",
                "type": "integer",
                "examples": [
                  1525735820
                ]
              },
              "DATE_TO": {
                "name": "DATE_TO",
                "in": "query",
                "description": "Дата (unix-время) завершения",
                "type": "integer",
                "examples": [
                  1525735820
                ]
              },
              "ID": {
                "name": "ID",
                "in": "query",
                "description": "идентификатор переговорной",
                "type": "integer",
                "examples": [
                  2332
                ]
              }
            }
          }
        }, {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/CalendarMeetingRoomResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/calendar.entry.add": {
      "post": {
        "tags": [
          "calendar"
        ],
        "summary": "Создание события",
        "description": "",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "properties": {
              "NAME": {
                "name": "NAME",
                "in": "query",
                "description": "Название события",
                "type": "string",
                "examples": [
                  "тестовое событие"
                ]
              },
              "DATE_FROM": {
                "name": "DATE_FROM",
                "in": "query",
                "description": "Дата (14.05.2020 15:30:00) начала",
                "type": "string",
                "examples": [
                  "14.05.2020 15:30:00"
                ]
              },
              "DATE_TO": {
                "name": "DATE_TO",
                "in": "query",
                "description": "Дата (14.05.2020 15:30:00) завершения",
                "type": "string",
                "examples": [
                  "14.05.2020 15:30:00"
                ]
              },
              "DEFAULT_TZ": {
                "name": "DEFAULT_TZ",
                "in": "query",
                "description": "Временная зона (Europe/Moscow)",
                "type": "string",
                "examples": [
                  ""
                ]
              },
              "SECTION": {
                "name": "SECTION",
                "in": "query",
                "description": "идентификатор секции",
                "type": "integer",
                "examples": [
                  2332
                ]
              },
              "LOCATION": {
                "name": "LOCATION",
                "in": "query",
                "description": "Место",
                "type": "string",
                "examples": [
                  "место"
                ]
              },
              "SKIP_TIME": {
                "name": "SKIP_TIME",
                "in": "query",
                "description": "Пропустить",
                "type": "string",
                "enum": [
                  "Y", "N"
                ],
                "examples": [
                  "N"
                ]
              },
              "REMIND": {
                "name": "REMIND",
                "in": "query",
                "description": "Напомнить массив минут",
                "type": "array",
                "examples": [
                  2332
                ]
              },
              "ATTENDEES": {
                "name": "ATTENDEES",
                "in": "query",
                "description": "Массив участников",
                "type": "array",
                "examples": [
                  [1]
                ]
              },
              "ACCESS_CODES": {
                "name": "access_codes",
                "in": "query",
                "description": "Коды доступа массив значений",
                "type": "array",
                "examples": [
                  "U1"
                ]
              },
              "MEETING_NOTIFY": {
                "name": "MEETING_NOTIFY",
                "in": "query",
                "description": "Включить уведомления",
                "type": "string",
                "enum": [
                  "Y", "N"
                ],
                "examples": [
                  "N"
                ]
              },
              "MEETING_ALLOW_INVITE": {
                "name": "MEETING_ALLOW_INVITE",
                "in": "query",
                "description": "идентификатор переговорной",
                "type": "string",
                "enum": [
                  "Y", "N"
                ],
                "examples": [
                  "N"
                ]
              },
              "EXCLUDE_USERS": {
                "name": "EXCLUDE_USERS",
                "in": "query",
                "description": "Массив исключенных пользователей",
                "type": "array",
                "examples": [
                  [2332]
                ]
              },
              "COLOR": {
                "name": "COLOR",
                "in": "query",
                "description": "Цвет (#2FC6F6)",
                "type": "string",
                "examples": [
                  "#2FC6F6"
                ]
              }
            }
          }
        }, {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/StatusOK"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/calendar.entry.edit": {
      "post": {
        "tags": [
          "calendar"
        ],
        "summary": "Редактировать событие",
        "description": "",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "properties": {
              "NAME": {
                "name": "NAME",
                "in": "query",
                "description": "Название события",
                "type": "string",
                "examples": [
                  "тестовое событие"
                ]
              },
              "DATE_FROM": {
                "name": "DATE_FROM",
                "in": "query",
                "description": "Дата (14.05.2020) начала",
                "type": "string",
                "examples": [
                  "14.05.2020"
                ]
              },
              "DATE_TO": {
                "name": "DATE_TO",
                "in": "query",
                "description": "Дата (14.05.2020) завершения",
                "type": "string",
                "examples": [
                  "14.05.2020"
                ]
              },
              "TIME_FROM": {
                "name": "TIME_FROM",
                "in": "query",
                "description": "Время (15:00) начала",
                "type": "string",
                "examples": [
                  "15:00"
                ]
              },
              "TIME_TO": {
                "name": "TIME_TO",
                "in": "query",
                "description": "Время (16:00) завершения",
                "type": "string",
                "examples": [
                  "16:00"
                ]
              },
              "TIME_FROM_REAL": {
                "name": "TIME_FROM_REAL",
                "in": "query",
                "description": "Время (15:00:00) начала",
                "type": "string",
                "examples": [
                  "15:00"
                ]
              },
              "TIME_TO_REAL": {
                "name": "TIME_TO_REAL",
                "in": "query",
                "description": "Время (16:00:00) завершения",
                "type": "string",
                "examples": [
                  "16:00"
                ]
              },
              "TZ_FROM": {
                "name": "TZ_FROM",
                "in": "query",
                "description": "Временная зона (Europe/Moscow)",
                "type": "string",
                "examples": [
                  ""
                ]
              },
              "TZ_TO": {
                "name": "TZ_TO",
                "in": "query",
                "description": "Временная зона (Europe/Moscow)",
                "type": "string",
                "examples": [
                  ""
                ]
              },
              "TZ_DEFAULT": {
                "name": "TZ_DEFAULT",
                "in": "query",
                "description": "Временная зона (Europe/Moscow)",
                "type": "string",
                "examples": [
                  ""
                ]
              },
              "SECTION": {
                "name": "SECTION",
                "in": "query",
                "description": "идентификатор секции",
                "type": "integer",
                "examples": [
                  2332
                ]
              },
              "LOCATION": {
                "name": "LOCATION",
                "in": "query",
                "description": "Место",
                "type": "string",
                "examples": [
                  "место"
                ]
              },
              "SKIP_TIME": {
                "name": "SKIP_TIME",
                "in": "query",
                "description": "Пропустить",
                "type": "string",
                "enum": [
                  "Y", "N"
                ],
                "examples": [
                  "N"
                ]
              },
              "REMIND": {
                "name": "REMIND",
                "in": "query",
                "description": "Напомнить массив минут",
                "type": "array",
                "examples": [
                  2332
                ]
              },
              "ATTENDEES": {
                "name": "ATTENDEES",
                "in": "query",
                "description": "Массив участников",
                "type": "array",
                "examples": [
                  [1]
                ]
              },
              "ACCESS_CODES": {
                "name": "access_codes",
                "in": "query",
                "description": "Коды доступа массив значений",
                "type": "array",
                "examples": [
                  "U1"
                ]
              },
              "MEETING_NOTIFY": {
                "name": "MEETING_NOTIFY",
                "in": "query",
                "description": "Включить уведомления",
                "type": "string",
                "enum": [
                  "Y", "N"
                ],
                "examples": [
                  "N"
                ]
              },
              "MEETING_ALLOW_INVITE": {
                "name": "MEETING_ALLOW_INVITE",
                "in": "query",
                "description": "идентификатор переговорной",
                "type": "string",
                "enum": [
                  "Y", "N"
                ],
                "examples": [
                  "N"
                ]
              },
              "EXCLUDE_USERS": {
                "name": "EXCLUDE_USERS",
                "in": "query",
                "description": "Массив исключенных пользователей",
                "type": "array",
                "examples": [
                  [2332]
                ]
              },
              "COLOR": {
                "name": "COLOR",
                "in": "query",
                "description": "Цвет (#2FC6F6)",
                "type": "string",
                "examples": [
                  "#2FC6F6"
                ]
              },
              "EVENT_RRULE": {
                "name": "EVENT_RRULE",
                "in": "query",
                "description": "идентификатор переговорной",
                "type": "object",
                "schema": {
                  "type": "object",
                  "properties": {
                    "FREQ": {
                      "name": "FREQ",
                      "in": "query",
                      "description": "Частота",
                      "type": "string",
                      "default": "NONE"
                    },
                    "INTERVAL": {
                      "name": "INTERVAL",
                      "in": "query",
                      "description": "Интервал",
                      "type": "string",
                      "default": "1"
                    },
                    "COUNT": {
                      "name": "COUNT",
                      "in": "query",
                      "description": "COUNT",
                      "type": "string",
                      "default": ""
                    },
                    "UNTIL": {
                      "name": "UNTIL",
                      "in": "query",
                      "description": "UNTIL",
                      "type": "string",
                      "default": ""
                    }
                  }
                }
              },
              "RRULE_ENDSON": {
                "name": "RRULE_ENDSON",
                "in": "query",
                "description": "Тип (never)",
                "type": "string",
                "examples": [
                  "never"
                ]
              },
              "ACCESSIBILITY": {
                "name": "ACCESSIBILITY",
                "in": "query",
                "description": "Доступ",
                "type": "string",
                "default": "quest",
                "examples": [
                  "quest"
                ]
              }
            }
          }
        }, {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/StatusOK"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/calendar.entry.delete": {
      "post": {
        "tags": [
          "calendar"
        ],
        "summary": "Удалить событие",
        "description": "",
        "parameters": [{
          "in": "body",
          "name": "post",
          "description": "json",
          "required": true,
          "schema": {
            "type": "object",
            "properties": {
              "ENTRY_ID": {
                "name": "ENTRY_ID",
                "in": "query",
                "description": "Идентификатор записи",
                "type": "integer",
                "examples": [
                  "тестовое событие"
                ]
              },
              "REQ_ID": {
                "name": "REQ_ID",
                "in": "query",
                "description": "Идентификатор",
                "type": "integer",
                "examples": [
                  "тестовое событие"
                ]
              }
            }
          }
        }, {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/StatusOK"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/notification.categories": {
      "get": {
        "tags": [
          "notification"
        ],
        "summary": "Список категорий уведомлений",
        "description": "",
        "parameters": [{
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/NotificationCategoriesResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/notification.list": {
      "post": {
        "tags": [
          "notification"
        ],
        "summary": "Список уведомлений",
        "description": "Передается список категорий уведомлений и дата создания по которым выгрузить уведомления",
        "parameters": [{
            "in": "body",
            "name": "post",
            "description": "json",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "START_DATE": {
                  "name": "START_DATE",
                  "in": "query",
                  "description": "Дата (unix-время) начала создания уведомления",
                  "type": "integer",
                  "examples": [
                    1525735820
                  ]
                },
                "CATEGORY_CODE": {
                  "name": "CATEGORY_CODE",
                  "in": "query",
                  "description": "код категории (можно передавать массивом)",
                  "type": "string",
                  "examples": [
                    "TASKS"
                  ]
                }
              }
            }
          },
          {
          "name": "auth",
          "in": "query",
          "description": "Токен авторизации",
          "type": "string",
          "required": true
        }],
        "responses": {
          "200": {
            "description": "Успешно",
            "schema": {
              "$ref": "#/definitions/NotificationListResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    }
  },
  "definitions": {
    "AppError": {
      "type": "object",
      "properties": {
        "result": {
          "$ref": "#/definitions/AppErrorResult"
        },
        "status": {
          "type": "string",
          "default": "error"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "AppErrorResult": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "examples": [
            "769"
          ]
        },
        "message": {
          "type": "string",
          "examples": [
            "Ведутся технические работы"
          ]
        },
        "debug": {
          "type": "string",
          "examples": [
            "#1: Bitrix\\Disk\\Storage->getProxyType()            /home/bitrix/www/bitrix/modules/disk/lib/search/indexmanager.php:227            #2: Bitrix\\Disk\\Search\\IndexManager->allowIndex(object)"
          ]
        }
      }
    },
    "Token": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string"
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор пользователя",
          "examples": [
            769
          ]
        },
        "ACTIVE": {
          "type": "string",
          "title": "Признак активности",
          "enum": ["Y", "N"],
          "examples": [
            "Y"
          ]
        },
        "SORT": {
          "type": "integer",
          "title": "Позиция при сортировке. чем значение меньше тем запись выше. Если значения равны у записей, сортируются по алфавиту SECOND_NAME",
          "examples": [
            100
          ]
        },
        "TIMESTAMP_X": {

          "type": "integer",
          "title": "Дата изменения элемента",
          "examples": [
            1525735820
          ]
        },
        "EMAIL": {

          "type": "string",
          "title": "Эл. адрес",
          "examples": [
            "Лариса"
          ]
        },
        "NAME": {

          "type": "string",
          "title": "Имя",
          "examples": [
            "Лариса"
          ]
        },
        "LAST_NAME": {

          "type": "string",
          "title": "Фамилия",
          "examples": [
            "Ивановна"
          ]
        },
        "SECOND_NAME": {

          "type": "string",
          "title": "Отчество",
          "examples": [
            "Глебова"
          ]
        },

        "PERSONAL_PHOTO": {
          "$id": "#/properties/PERSONAL_PHOTO",
          "type": "string",
          "title": "Фотография пользователя",
          "examples": [
            "/upload/main/8c2/Глебова Лариса Ивановна.JPG"
          ]
        },
        "WORK_POSITION": {

          "type": "string",
          "title": "Должность",
          "examples": [
            "Заместитель главного бухгалтера"
          ]
        },
        "PERSONAL_MOBILE": {

          "type": "string",
          "title": "Мобильный телефон пользователя",
          "examples": [
            "121"
          ]
        },
        "UF_PHONE_INNER": {

          "type": "string",
          "title": "Внутренний телефон пользователя",
          "examples": [
            "121"
          ]
        },
        "UF_DEPARTMENT": {

          "type": "integer",
          "title": "Внутренний идентификатор подразделения по организационной структуру",
          "examples": [
            "121"
          ]
        },
        "UF_ADMIN_DEPARTMENT": {

          "type": "integer",
          "title": "Внутренний идентификатор подразделения по управленческой структуру",
          "examples": [
            "1232"
          ]
        },
        "UF_ROOT_DEPARTMENT": {

          "type": "integer",
          "title": "Идентификтаор филиал пользователя",
          "examples": [
            "121"
          ]
        },
        "MANAGERS": {
          "title": "Список руководителей пользователя",
          "type": "array",
          "additionalItems": true,
          "items": {
            "type": "integer"
          }
        },
        "ABSENCE": {
          "title": "Список текущего отсутствия пользователя и 2х следующих",
          "type": "array",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/AbsenceInfo"
          }
        }
      }
    },
    "UserWithToken": {
      "type": "object",
      "properties": {
        "ID": {

          "type": "integer",
          "title": "Идентификатор пользователя",
          "examples": [
            769
          ]
        },
        "ACTIVE": {

          "type": "string",
          "title": "Признак активности",
          "enum": ["Y", "N"],
          "examples": [
            "Y"
          ]
        },
        "SORT": {
          "type": "integer",
          "title": "Позиция при сортировке. чем значение меньше тем запись выше. Если значения равны у записей, сортируются по алфавиту SECOND_NAME",
          "examples": [
            100
          ]
        },
        "TIMESTAMP_X": {

          "type": "integer",
          "title": "Дата изменения элемента",
          "examples": [
            1525735820
          ]
        },
        "EMAIL": {

          "type": "string",
          "title": "Эл. адрес",
          "examples": [
            "Лариса"
          ]
        },
        "NAME": {

          "type": "string",
          "title": "Имя",
          "examples": [
            "Лариса"
          ]
        },
        "LAST_NAME": {

          "type": "string",
          "title": "Фамилия",
          "examples": [
            "Ивановна"
          ]
        },
        "SECOND_NAME": {

          "type": "string",
          "title": "Отчество",
          "examples": [
            "Глебова"
          ]
        },
        "PERSONAL_PHOTO": {

          "type": "string",
          "title": "Фотография пользователя",
          "examples": [
            "/upload/main/8c2/Глебова Лариса Ивановна.JPG"
          ]
        },
        "WORK_POSITION": {

          "type": "string",
          "title": "Должность",
          "examples": [
            "Заместитель главного бухгалтера"
          ]
        },
        "PERSONAL_MOBILE": {

          "type": "string",
          "title": "Мобильный телефон пользователя",
          "examples": [
            "121"
          ]
        },
        "UF_PHONE_INNER": {

          "type": "string",
          "title": "Внутренний телефон пользователя",
          "examples": [
            "121"
          ]
        },
        "UF_DEPARTMENT": {

          "type": "integer",
          "title": "Внутренний идентификатор подразделения по организационной структуру",
          "examples": [
            121
          ]
        },
        "UF_ADMIN_DEPARTMENT": {

          "type": "integer",
          "title": "Внутренний идентификатор подразделения по управленческой структуру",
          "examples": [
            1232
          ]
        },
        "UF_ROOT_DEPARTMENT": {
          "$id": "#/properties/UF_DEPARTMENT",
          "type": "string",
          "title": "Филиал пользователя",
          "examples": [
            121
          ]
        },
        "MANAGERS": {
          "title": "Список руководителей пользователя",
          "type": "array",
          "additionalItems": true,
          "items": {
            "type": "integer"
          }
        },
        "ABSENCE": {
          "title": "Список текущего отсутсвии пользователя и 2х следующих",
          "type": "array",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/AbsenceInfo"
          }
        },
        "TOKEN": {
          "$id": "#/properties/TOKEN",
          "type": "string",
          "title": "Токен авторизации пользователя"
        },
        "TOKEN_EXPIRED": {
          "$id": "#/properties/TOKEN_EXPIRED",
          "type": "integer",
          "title": "Дата окончания действия токена, unix-time"
        }
      }
    },
    "AbsenceInfo": {
      "type": "object",
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор записи отсутствия",
          "examples": [
            769
          ]
        },
        "USER_ID": {
          "$id": "#/properties/USER_ID",
          "type": "integer",
          "title": "Идентификатор пользователя",
          "examples": [
            1
          ]
        },
        "TYPE_ID": {
          "$id": "#/properties/TYPE_ID",
          "type": "integer",
          "title": "Идентификатор типа отсутствия",
          "examples": [
            3
          ]
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Тип отсутствия",
          "examples": [
            "Отпуск"
          ]
        },
        "DESCRIPTION": {
          "$id": "#/properties/TOKEN",
          "type": "string",
          "title": "Дополнительное описание отсутствия",
          "examples": [
            "Обучение в skillbox"
          ]
        },
        "START_DATE_TS": {
          "$id": "#/properties/NAME",
          "type": "integer",
          "title": "Дата начала, unix-time",
          "examples": [
            1525735820
          ]
        },
        "END_DATE_TS": {
          "$id": "#/properties/LAST_NAME",
          "type": "integer",
          "title": "Дата окончания, unix-time",
          "examples": [
            1525735820
          ]
        }
      }
    },
    "AbsenceTypeInfo": {
      "type": "object",
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор типа отсутствия",
          "examples": [
            769
          ]
        },
        "NAME": {

          "type": "string",
          "title": "Название типа отсутсвия",
          "examples": [
            "Плановый отпуск"
          ]
        }
      }
    },
    "ArrayIdentifier": {
      "type": "integer"
    },
    "DepartmentTree": {

      "type": "object",
      "title": "Иерархия стурктуры. Неограниченный уровень вложенности подразделений",

      "default": {},
      "additionalProperties": true,
      "required": [
        "ID",
        "IBLOCK_SECTION_ID",
        "UF_HEAD",
        "NAME",
        "PICTURE",
        "DETAIL_URL",
        "RIGHT_MARGIN",
        "LEFT_MARGIN",
        "DEPTH_LEVEL",
        "EMPLOYEES"
      ],
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор подразделения",
          "examples": [
            6051
          ]
        },
        "ACTIVE": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "string",
          "title": "Признак активности",
          "enum": ["Y", "N"],
          "examples": [
            "Y"
          ]
        },
        "SORT": {
          "type": "integer",
          "title": "Позиция при сортировке. чем значение меньше тем запись выше. Если значения равны у записей, сортируются по алфавиту NAME",
          "examples": [
            100
          ]
        },
        "TIMESTAMP_X": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "integer",
          "title": "Дата изменения элемента",
          "examples": [
            1525735820
          ]
        },
        "IBLOCK_SECTION_ID": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "integer",
          "title": "Идентификатор родительского подразделения",
          "examples": [
            6050
          ]
        },
        "UF_HEAD": {
          "$id": "#/properties/UF_HEAD",
          "type": "integer",
          "title": "Идентификатор руководителя подразделения",
          "examples": [
            1077
          ]
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Название",
          "examples": [
            "Блок Главного бухгалтера"
          ]
        },
        "DEPTH_LEVEL": {
          "$id": "#/properties/DEPTH_LEVEL",
          "type": "integer",
          "title": "Уровень вложения подразделения",
          "examples": [
            2
          ]
        },
        "СHILDREN": {
          "$id": "#/properties/EMPLOYEES",
          "type": "array",
          "title": "Список дочерних подразделений. Неограниченный уровень вложенности подразделений",
          "default": [],
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/Department"
          }
        },
        "EMPLOYEES": {
          "$id": "#/properties/EMPLOYEES",
          "type": "array",
          "title": "Список идентификаторов сотрудников подразделения",
          "default": [],
          "additionalItems": true,

          "items": {
            "type": "integer"
          }
        }
      }
    },
    "Department": {
      "type": "object",
      "title": "Подразделение",
      "default": {},
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор подразделения",
          "examples": [
            6051
          ]
        },
        "ACTIVE": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "string",
          "title": "Признак активности",
          "enum": ["Y", "N"],
          "examples": [
            "Y"
          ]
        },
        "SORT": {
          "type": "integer",
          "title": "Позиция при сортировке. чем значение меньше тем запись выше. Если значения равны у записей, сортируются по алфавиту NAME",
          "examples": [
            100
          ]
        },
        "TIMESTAMP_X": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "integer",
          "title": "Дата изменения элемента",
          "examples": [
            1525735820
          ]
        },
        "IBLOCK_SECTION_ID": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "integer",
          "title": "Идентификатор родительского подразделения",
          "examples": [
            6050
          ]
        },
        "UF_HEAD": {
          "$id": "#/properties/UF_HEAD",
          "type": "integer",
          "title": "Идентификатор руководителя подразделения",
          "examples": [
            1077
          ]
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Название",
          "examples": [
            "Блок Главного бухгалтера"
          ]
        },
        "DEPTH_LEVEL": {
          "$id": "#/properties/DEPTH_LEVEL",
          "type": "integer",
          "title": "Уровень вложения подразделения",
          "examples": [
            2
          ]
        },
        "EMPLOYEES": {
          "$id": "#/properties/EMPLOYEES",
          "type": "array",
          "title": "Список идентификаторов сотрудников подразделения",
          "default": [],
          "additionalItems": true,

          "items": {
            "type": "integer"
          }
        }
      }
    },
    "DepartmentRoot": {
      "type": "object",
      "title": "Филиал",
      "default": {},
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор подразделения",
          "examples": [
            6051
          ]
        },
        "ACTIVE": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "string",
          "title": "Признак активности",
          "enum": ["Y", "N"],
          "examples": [
            "Y"
          ]
        },
        "SORT": {
          "type": "integer",
          "title": "Позиция при сортировке. чем значение меньше тем запись выше. Если значения равны у записей, сортируются по алфавиту NAME",
          "examples": [
            100
          ]
        },
        "TIMESTAMP_X": {
          "$id": "#/properties/IBLOCK_SECTION_ID",
          "type": "integer",
          "title": "Дата изменения элемента",
          "examples": [
            1525735820
          ]
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Название",
          "examples": [
            "Блок Главного бухгалтера"
          ]
        }
      }
    },
    "FileInfo": {
      "type": "object",
      "title": "The File Schema",
      "default": {},
      "examples": [{
        "~src": false,
        "MODULE_ID": "main",
        "DESCRIPTION": "",
        "CONTENT_TYPE": "image/jpeg",
        "TIMESTAMP_X": "07.12.2018 12:35:23",
        "HEIGHT": "2524",
        "FILE_SIZE": "688900",
        "ID": "9490",
        "SUBDIR": "main/8c2",
        "FILE_NAME": "Глебова Лариса Ивановна.JPG",
        "ORIGINAL_NAME": "Глебова Лариса Ивановна.JPG",
        "HANDLER_ID": null,
        "EXTERNAL_ID": "4d1c82c9971dce03e22f38c8051e93cb",
        "SRC": "/upload/main/8c2/Глебова Лариса Ивановна.JPG",
        "WIDTH": "2691"
      }],
      "additionalProperties": true,
      "required": [
        "ID",
        "TIMESTAMP_X",
        "MODULE_ID",
        "HEIGHT",
        "WIDTH",
        "FILE_SIZE",
        "CONTENT_TYPE",
        "SUBDIR",
        "FILE_NAME",
        "ORIGINAL_NAME",
        "DESCRIPTION",
        "HANDLER_ID",
        "EXTERNAL_ID",
        "~src",
        "SRC"
      ],
      "properties": {
        "ID": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/ID",
          "type": "string",
          "title": "The Id Schema",
          "examples": [
            "9490"
          ]
        },
        "TIMESTAMP_X": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/TIMESTAMP_X",
          "type": "string",
          "title": "The Timestamp_x Schema",
          "examples": [
            "07.12.2018 12:35:23"
          ]
        },
        "MODULE_ID": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/MODULE_ID",
          "type": "string",
          "title": "The Module_id Schema",
          "examples": [
            "main"
          ]
        },
        "HEIGHT": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/HEIGHT",
          "type": "string",
          "title": "The Height Schema",
          "examples": [
            "2524"
          ]
        },
        "WIDTH": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/WIDTH",
          "type": "string",
          "title": "The Width Schema",
          "examples": [
            "2691"
          ]
        },
        "FILE_SIZE": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/FILE_SIZE",
          "type": "string",
          "title": "The File_size Schema",
          "examples": [
            "688900"
          ]
        },
        "CONTENT_TYPE": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/CONTENT_TYPE",
          "type": "string",
          "title": "The Content_type Schema",
          "examples": [
            "image/jpeg"
          ]
        },
        "SUBDIR": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/SUBDIR",
          "type": "string",
          "title": "The Subdir Schema",
          "examples": [
            "main/8c2"
          ]
        },
        "FILE_NAME": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/FILE_NAME",
          "type": "string",
          "title": "The File_name Schema",
          "examples": [
            "Глебова Лариса Ивановна.JPG"
          ]
        },
        "ORIGINAL_NAME": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/ORIGINAL_NAME",
          "type": "string",
          "title": "The Original_name Schema",
          "examples": [
            "Глебова Лариса Ивановна.JPG"
          ]
        },
        "DESCRIPTION": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/DESCRIPTION",
          "type": "string",
          "title": "The Description Schema",
          "examples": [
            ""
          ]
        },
        "HANDLER_ID": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/HANDLER_ID",
          "type": "null",
          "title": "The Handler_id Schema",
          "default": null,
          "examples": [
            null
          ]
        },
        "EXTERNAL_ID": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/EXTERNAL_ID",
          "type": "string",
          "title": "The External_id Schema",
          "examples": [
            "4d1c82c9971dce03e22f38c8051e93cb"
          ]
        },
        "~src": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/~src",
          "type": "boolean",
          "title": "The ~src Schema",
          "default": false,
          "examples": [
            false
          ]
        },
        "SRC": {
          "$id": "#/properties/PERSONAL_PHOTO/properties/FILE/properties/SRC",
          "type": "string",
          "title": "The Src Schema",
          "examples": [
            "/upload/main/8c2/Глебова Лариса Ивановна.JPG"
          ]
        }
      }
    },
    "Document": {
      "type": "object",
      "title": "Документ Document",
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "string",
          "title": "UUID обьекта",
          "default": 1
        },
        "STATUS": {
          "$id": "#/properties/STATUS",
          "type": "string",
          "title": "Статус",
          "description": "статус документа: pending - в ожидании, completed - исполненный",
          "default": ""
        },
        "XML_ID": {
          "$id": "#/properties/XML_ID",
          "type": "string",
          "title": "Идентификатор документа в компании",
          "default": ""
        },
        "FIELDS": {
          "$id": "#/properties/FIELDS",
          "type": "array",
          "title": "Поля документа DocumentField",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DocumentField"
          }
        },
        "UPDATE_TIME": {
          "type": "integer",
          "title": "Дата создания документа, unix-time",
          "default": 1525735820
        }
      }
    },
    "DocumentField": {
      "type": "object",
      "title": "Поле документы DocumentField",
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "string",
          "title": "UUID обьекта",
          "default": 1
        },
        "PATTERN": {
          "$ref": "#/definitions/DocumentPatternField"
        },
        "VALUE": {
          "$id": "#/properties/VALUE",
          "type": "string",
          "title": "Значение поля",
          "description": "для type: number/dateTime - double, checkBox - boolean, list/flag - [string], period - [double], остальных - string",
          "default": ""
        }
      }
    },
    "DocumentPattern": {
      "type": "object",
      "title": "Шаблон документа DocumentPattern",
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "number",
          "title": "Идентификатор шаблона",
        },
        "TITLE": {
          "$id": "#/properties/TITLE",
          "type": "string",
          "title": "Название",
          "default": "",
          "examples": [
            "Название документа"
          ]
        },
        "TYPE": {
          "$id": "#/properties/TYPE",
          "type": "string",
          "title": "Тип документа",
          "description": "request - заявка, certificate - справка, application - заявление",
          "default": "",
          "examples": [
            "request", "certificate", "application"
          ]
        },
        "FIELDS": {
          "$id": "#/properties/FIELDS",
          "type": "array",
          "title": "Шаблонные поля документа DocumentPatternField",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DocumentPatternField"
          }
        }
      }
    },
    "DocumentPatternField": {
      "type": "object",
      "title": "Поле шаблона документа DocumentPatternField",
      "additionalProperties": true,
      "properties": {
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Идентификатор",
          "default": "",
          "examples": [
            "Идентификатор поля"
          ]
        },
        "TITLE": {
          "$id": "#/properties/TITLE",
          "type": "string",
          "title": "Название",
          "default": "",
          "examples": [
            "Название поля"
          ]
        },
        "TYPE": {
          "$id": "#/properties/TYPE",
          "type": "string",
          "title": "Тип поля",
          "default": "",
          "description": "string, text number, flag (массив string, можно выбрать один элемент), checkBox (true/false), list (массив string, можно выбрать массив элементов), dateTime (Unix time), period (Unix time - Unix time), contact (Contact ID), image (URL), document (URL)",
          "examples": [
            "string", "text", "number", "flag",
            "checkBox", "list", "dateTime",
            "period", "contact",
            "image ", "document"
          ]
        },
        "AVAILABLE_VALUES": {
          "$id": "#/properties/AVAILABLE_VALUES",
          "type": "array",
          "title": "Массив доступных значений поля, может быть пустым",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DocumentFieldData"
          }
        },
        "DATA": {
          "$id": "#/properties/DATA",
          "type": "array",
          "title": "Описание поля",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DocumentFieldData"
          }
        }
      }
    },
    "DocumentFieldData": {
      "type": "object",
      "title": "Поле дополнительного поля документа DocumentFieldData",
      "additionalProperties": true,
      "properties": {
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Тип опции поля",
          "default": "",
          "description": "Доступные значения defaultValue, errorValue, minValue, maxValue, rowValue, colValue, noteValue, regexpValue, enableTime, multiple(true, false), required (true, false)",
          "examples": [
            "defaultValue", "errorValue", "minValue", "maxValue", "rowValue", "colValue", "noteValue", "regexpValue", "multiple", "required"
          ]
        },
        "VALUE": {
          "$id": "#/properties/VALUE",
          "type": "string",
          "title": "Значение опции. Обычная строка",
          "default": ""
        }
      }
    },
    "DocumentCategory": {
      "type": "object",
      "title": "Категория документов",
      "additionalProperties": true,
      "properties": {
        "TITLE": {
          "$id": "#/properties/TITLE",
          "type": "string",
          "title": "Название",
          "default": "Название категории"
        },
        "TYPE": {
          "$id": "#/properties/TYPE",
          "type": "string",
          "title": "Тип категории",
          "description": "single - быстрая категория для одного документа, list - категория со списком документов, group - категория со сгруппированным списком документов",
          "default": "list",
          "examples": [
            "single", "list", "group"
          ]
        },
        "CONTENT": {
          "$id": "#/properties/CONTENT",
          "type": "array",
          "title": "Содержание категории DocumentPattern",
          "description": "для type: single - DocumentPattern, list - [DocumentPattern], group - [string : DocumentPattern]",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DocumentPattern"
          }
        }
      }
    },
    "NotificationCategory": {
      "type": "object",
      "title": "Уведомления - Категория",
      "additionalProperties": true,
      "properties": {
        "TITLE": {
          "$id": "#/properties/TITLE",
          "type": "string",
          "title": "Название",
          "default": "Название категории"
        },
        "CODE": {
          "$id": "#/properties/CODE",
          "type": "string",
          "title": "Код",
          "default": "Код категории"
        }
      }
    },
    "Notification": {
      "type": "object",
      "title": "Уведомление - элемент",
      "additionalProperties": true,
      "properties": {
        "TITLE": {
          "$id": "#/properties/TITLE",
          "type": "string",
          "title": "Тема",
          "default": "",
          "examples": [
            "Тема уведомления"
          ]
        },
        "DESCRIPTION": {
          "$id": "#/properties/DESCRIPTION",
          "type": "string",
          "title": "Описание",
          "description": "Описание"
        },
        "CATEGORY_CODE": {
          "$id": "#/properties/CATEGORY_CODE",
          "type": "string",
          "title": "Категория уведомления",
          "description": "Категория уведомления"
        },
        "TIMESTAMP": {
          "type": "integer",
          "title": "Дата создания",
          "description": "Дата создания уведомления, unix-time",
          "default": 1525735820
        }
      }
    },
    "TaskRoot": {
      "type": "object",
      "title": "Задача",
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор задачи",
          "examples": [
            6051
          ]
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Название",
          "examples": [
            "Необходимо согласовать заказ визиток"
          ]
        },
        "DESCRIPTION": {
          "$id": "#/properties/DESCRIPTION",
          "type": "string",
          "title": "Краткое описание",
          "examples": [
            "Исполнитель 50 шт"
          ]
        },
        "MODIFIED": {
          "$id": "#/properties/MODIFIED",
          "type": "integer",
          "title": "Дата изменения элемента",
          "examples": [
            1525735820
          ]
        },
        "COMPLETED": {
          "$id": "#/properties/COMPLETED",
          "type": "string",
          "title": "Завершена",
          "enum": ["Y", "N"],
          "examples": [
            "Y"
          ]
        },
        "STATUS": {
          "type": "integer",
          "title": "Статус задачи.",
          "description": "0 - Running;1 - CompleteYes;2 - CompleteNo;3 - CompleteOk;4 - Timeout;5 - CompleteCancel;",
          "examples": [
            1
          ]
        },
        "USER_STATUS": {
          "type": "integer",
          "title": "Статус задачи пользователя.",
          "description": "0 - Waiting;1 - Yes;2 - No;3 - Ok;4 - Cancel;",
          "examples": [
            1
          ]
        },
        "WORKFLOW_ID": {
          "$id": "#/properties/WORKFLOW_ID",
          "type": "string",
          "title": "Идентификатор рабочей области",
          "examples": [
            "78sdf8734ji2"
          ]
        },
        "DOCUMENT_URL": {
          "$id": "#/properties/DOCUMENT_URL",
          "type": "array",
          "title": "ссылка на документ (pdf)"
        },
        "BUTTONS": {
          "$id": "#/properties/BUTTONS",
          "type": "array",
          "title": "Кнопки задачи",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/TaskButton"
          }
        }
      }
    },
    "TaskButton": {
      "type": "object",
      "title": "Кнопка задачи TaskButton",
      "additionalProperties": true,
      "properties": {
        "TYPE": {
          "$id": "#/properties/TYPE",
          "type": "string",
          "title": "Тип кнопки",
          "description": "типы: submit",
          "default": "",
          "examples": [
            "submit"
          ]
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Название, внутренний идентификатор кнопки",
          "default": ""
        },
        "TARGET_USER_STATUS": {
          "$id": "#/properties/TARGET_USER_STATUS",
          "type": "integer",
          "title": "Новый статус задачи",
          "default": 1
        },
        "VALUE": {
          "$id": "#/properties/VALUE",
          "type": "string",
          "title": "Значение кнопки",
          "enum": ["Y", "N"],
          "examples": [
            "Y"
          ]
        },
        "TEXT": {
          "$id": "#/properties/TEXT",
          "type": "string",
          "title": "Выводимое название кнопки",
          "default": ""
        }
      }
    },
    "CalendarMeeting": {
      "type": "object",
      "title": "Переговорная",
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор переговорной",
          "examples": [
            6051
          ]
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Название",
          "examples": [
            "Тестовая переговорная"
          ]
        },
        "DESCRIPTION": {
          "$id": "#/properties/DESCRIPTION",
          "type": "string",
          "title": "Описание",
          "examples": [
            "Тестовая переговорная"
          ]
        },
        "UF_EMAIL": {
          "$id": "#/properties/UF_EMAIL",
          "type": "string",
          "title": "Email",
          "examples": [
            "test@mail.ru"
          ]
        },
        "UF_FLOOR": {
          "$id": "#/properties/UF_FLOOR",
          "type": "string",
          "title": "Этаж",
          "examples": [
            "test@mail.ru"
          ]
        },
        "UF_PHONE": {
          "$id": "#/properties/UF_PHONE",
          "type": "string",
          "title": "Телефон",
          "examples": [
            "565656"
          ]
        },
        "UF_PLACES": {
          "$id": "#/properties/UF_PLACES",
          "type": "string",
          "title": "Мест",
          "examples": [
            "5"
          ]
        }
      }
    },
    "CalendarMeetingRoom": {
      "type": "object",
      "title": "Список записей переговорной",
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "integer",
          "title": "Идентификатор переговорной",
          "examples": [
            6051
          ]
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "Название",
          "examples": [
            "Тестовая переговорная"
          ]
        },
        "DESCRIPTION": {
          "$id": "#/properties/DESCRIPTION",
          "type": "string",
          "title": "Описание",
          "examples": [
            "Тестовая переговорная"
          ]
        },
        "UF_EMAIL": {
          "$id": "#/properties/UF_EMAIL",
          "type": "string",
          "title": "Email",
          "examples": [
            "test@mail.ru"
          ]
        },
        "UF_FLOOR": {
          "$id": "#/properties/UF_FLOOR",
          "type": "string",
          "title": "Этаж",
          "examples": [
            "test@mail.ru"
          ]
        },
        "UF_PHONE": {
          "$id": "#/properties/UF_PHONE",
          "type": "string",
          "title": "Телефон",
          "examples": [
            "565656"
          ]
        },
        "UF_PLACES": {
          "$id": "#/properties/UF_PLACES",
          "type": "string",
          "title": "Мест",
          "examples": [
            "5"
          ]
        },
        "ENTRIES": {
          "$id": "#/properties/ENTRIES",
          "type": "array",
          "title": "Список записей переговорной",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/CalendarEntry"
          }
        }
      }
    },
    "CalendarEntry": {
      "type": "object",
      "title": "Запись переговорной",
      "additionalProperties": true,
      "properties": {
        "ID": {
          "$id": "#/properties/ID",
          "type": "string",
          "title": "Идентификатор",
          "default": "",
          "examples": [
            "49"
          ]
        },
        "PARENT_ID": {
          "$id": "#/properties/PARENT_ID",
          "type": "string",
          "title": "Идентификатор родителя",
          "default": "",
          "examples": [
            "49"
          ]
        },
        "ACTIVE": {
          "$id": "#/properties/ACTIVE",
          "type": "string",
          "title": "Флаг активности",
          "enum": ["Y", "N"],
          "examples": [
            "Y"
          ]
        },
        "DELETED": {
          "$id": "#/properties/DELETED",
          "type": "string",
          "title": "Флаг удаленности",
          "enum": ["Y", "N"],
          "examples": [
            "N"
          ]
        },
        "OWNER_ID": {
          "$id": "#/properties/OWNER_ID",
          "type": "string",
          "title": "Владелец",
          "default": "",
          "examples": [
            "1"
          ]
        },
        "NAME": {
          "$id": "#/properties/NAME",
          "type": "string",
          "title": "The NAME schema",
          "description": "An explanation about the purpose of this instance.",
          "default": "",
          "examples": [
            "werwerwer"
          ]
        },
        "DATE_FROM": {
          "$id": "#/properties/DATE_FROM",
          "type": "string",
          "title": "Дата начала",
          "default": "",
          "examples": [
            "14.05.2020 17:00:00"
          ]
        },
        "DATE_TO": {
          "$id": "#/properties/DATE_TO",
          "type": "string",
          "title": "Дата завершения",
          "default": "",
          "examples": [
            "14.05.2020 18:00:00"
          ]
        },
        "TZ_FROM": {
          "$id": "#/properties/TZ_FROM",
          "type": "string",
          "title": "Временная зона начала",
          "default": "",
          "examples": [
            "Europe/Moscow"
          ]
        },
        "TZ_TO": {
          "$id": "#/properties/TZ_TO",
          "type": "string",
          "title": "Временная зона завершения",
          "default": "",
          "examples": [
            "Europe/Moscow"
          ]
        },
        "TZ_OFFSET_FROM": {
          "$id": "#/properties/TZ_OFFSET_FROM",
          "type": "string",
          "title": "Сдвиг временной начала",
          "default": "",
          "examples": [
            "10800"
          ]
        },
        "TZ_OFFSET_TO": {
          "$id": "#/properties/TZ_OFFSET_TO",
          "type": "string",
          "title": "Сдвиг временной завершения",
          "default": "",
          "examples": [
            "10800"
          ]
        },
        "DATE_FROM_TS_UTC": {
          "$id": "#/properties/DATE_FROM_TS_UTC",
          "type": "string",
          "title": "unix-time начала",
          "default": "",
          "examples": [
            "1589450400"
          ]
        },
        "DATE_TO_TS_UTC": {
          "$id": "#/properties/DATE_TO_TS_UTC",
          "type": "string",
          "title": "unix-time завершения",
          "default": "",
          "examples": [
            "1589454000"
          ]
        },
        "TIMESTAMP_X": {
          "$id": "#/properties/TIMESTAMP_X",
          "type": "string",
          "title": "Дата изменения",
          "default": "",
          "examples": [
            "14.05.2020 13:00:15"
          ]
        },
        "DATE_CREATE": {
          "$id": "#/properties/DATE_CREATE",
          "type": "string",
          "title": "Дата создания",
          "default": "",
          "examples": [
            "14.05.2020 13:00:15"
          ]
        },
        "DESCRIPTION": {
          "$id": "#/properties/DESCRIPTION",
          "type": "string",
          "title": "Описание",
          "default": "",
          "examples": [
            ""
          ]
        },
        "ACCESSIBILITY": {
          "$id": "#/properties/ACCESSIBILITY",
          "type": "string",
          "title": "Доступность",
          "description": "Пример - busy",
          "default": "",
          "examples": [
            "busy"
          ]
        },
        "IMPORTANCE": {
          "$id": "#/properties/IMPORTANCE",
          "type": "string",
          "title": "Важность",
          "description": "Пример - normal",
          "default": "",
          "examples": [
            "normal"
          ]
        },
        "IS_MEETING": {
          "$id": "#/properties/IS_MEETING",
          "type": "boolean",
          "title": "Встреча",
          "default": false,
          "examples": [
            false
          ]
        },
        "MEETING_STATUS": {
          "$id": "#/properties/MEETING_STATUS",
          "type": "string",
          "title": "Статус встречи",
          "default": "",
          "examples": [
            ""
          ]
        },
        "MEETING": {
          "$id": "#/properties/MEETING",
          "type": "object",
          "title": "Информация о встрече",
          "default": {},
          "additionalProperties": true,
          "properties": {
            "HOST_NAME": {
              "$id": "#/properties/MEETING/properties/HOST_NAME",
              "type": "string",
              "title": "The HOST_NAME schema",
              "default": "",
              "examples": [
                "Корпоративный портал"
              ]
            },
            "NOTIFY": {
              "$id": "#/properties/MEETING/properties/NOTIFY",
              "type": "boolean",
              "title": "Уведомления",
              "default": false,
              "examples": [
                true
              ]
            },
            "ALLOW_INVITE": {
              "$id": "#/properties/MEETING/properties/ALLOW_INVITE",
              "type": "boolean",
              "title": "Разрешить приглашения",
              "default": false,
              "examples": [
                true
              ]
            },
            "MEETING_CREATOR": {
              "$id": "#/properties/MEETING/properties/MEETING_CREATOR",
              "type": "string",
              "title": "Создатель встречи",
              "default": "",
              "examples": [
                "1"
              ]
            },
            "REINVITE": {
              "$id": "#/properties/MEETING/properties/REINVITE",
              "type": "boolean",
              "title": "The REINVITE schema",
              "default": false,
              "examples": [
                false
              ]
            }
          }
        },
        "LOCATION": {
          "$id": "#/properties/LOCATION",
          "type": "string",
          "title": "Место",
          "default": "",
          "examples": [
            ""
          ]
        },
        "REMIND": {
          "$id": "#/properties/REMIND",
          "type": "array",
          "title": "Напомнить",
          "default": [],
          "examples": [
            [{
              "type": "min",
              "count": "15"
            }]
          ],
          "additionalItems": true,
          "items": {
            "anyOf": [{
              "$id": "#/properties/REMIND/items/anyOf/0",
              "type": "object",
              "title": "The first anyOf schema",
              "description": "An explanation about the purpose of this instance.",
              "default": {},
              "examples": [{
                "type": "min",
                "count": "15"
              }],
              "additionalProperties": true,
              "properties": {
                "type": {
                  "$id": "#/properties/REMIND/items/anyOf/0/properties/type",
                  "type": "string",
                  "title": "The type schema",
                  "description": "An explanation about the purpose of this instance.",
                  "default": "",
                  "examples": [
                    "min"
                  ]
                },
                "count": {
                  "$id": "#/properties/REMIND/items/anyOf/0/properties/count",
                  "type": "string",
                  "title": "The count schema",
                  "description": "An explanation about the purpose of this instance.",
                  "default": "",
                  "examples": [
                    "15"
                  ]
                }
              }
            }],
            "$id": "#/properties/REMIND/items"
          }
        },
        "COLOR": {
          "$id": "#/properties/COLOR",
          "type": "string",
          "title": "Цвет",
          "default": "",
          "examples": [
            ""
          ]
        },
        "TEXT_COLOR": {
          "$id": "#/properties/TEXT_COLOR",
          "type": "string",
          "title": "Цвет",
          "default": "",
          "examples": [
            ""
          ]
        },
        "RRULE": {
          "$id": "#/properties/RRULE",
          "type": "string",
          "title": "The RRULE schema",
          "default": "",
          "examples": [
            ""
          ]
        },
        "EXDATE": {
          "$id": "#/properties/EXDATE",
          "type": "string",
          "title": "The EXDATE schema",
          "default": "",
          "examples": [
            ""
          ]
        },
        "ATTENDEES_CODES": {
          "$id": "#/properties/ATTENDEES_CODES",
          "type": "string",
          "title": "The ATTENDEES_CODES schema",
          "default": "",
          "examples": [
            ""
          ]
        },
        "RELATIONS": {
          "$id": "#/properties/RELATIONS",
          "type": "string",
          "title": "Связи",
          "default": "",
          "examples": [
            ""
          ]
        },
        "SECT_ID": {
          "$id": "#/properties/SECT_ID",
          "type": "string",
          "title": "Идентификатор секции",
          "default": "",
          "examples": [
            "1094"
          ]
        },
        "UF_PARENT_EVENT": {
          "$id": "#/properties/UF_PARENT_EVENT",
          "type": "string",
          "title": "The UF_PARENT_EVENT schema",
          "description": "An explanation about the purpose of this instance.",
          "default": "",
          "examples": [
            ""
          ]
        }
      }
    },
    "UserGetResponse": {
      "type": "object",
      "properties": {
        "result": {
          "$ref": "#/definitions/User"
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "DepartmentResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список подразделении",
          "default": [],
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/Department"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "DepartmentRootResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список филиалов",
          "default": [],
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DepartmentRoot"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "DepartmentTreeResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Иерархия подразделении",
          "default": [],
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DepartmentTree"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "AbsenceTypeInfoResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список типов отсутсвия",
          "type": "array",
          "default": [],
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/AbsenceTypeInfo"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "LoginResponse": {
      "type": "object",
      "properties": {
        "result": {
          "$ref": "#/definitions/UserWithToken"
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "DocumentListResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список документов",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/Document"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "DocumentCategoriesResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список категорий документов",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/DocumentCategory"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "TaskListResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список задач",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/TaskRoot"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "CalendarMeetingListResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список переговорных",
          "additionalItems": true,
          "items": {
            "$ref": "#/definitions/CalendarMeeting"
          }
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "CalendarMeetingRoomResponse": {
      "type": "object",
      "properties": {
        "result": {
          "$ref": "#/definitions/CalendarMeetingRoom"
        },
        "status": {
          "type": "string",
          "default": "ok"
        },
        "timestamp": {
          "type": "integer",
          "default": 1525735820
        }
      }
    },
    "NotificationCategoriesResponse": {
      "type": "object",
      "properties": {
        "result": {
          "title": "Список категорий уведомлений",
[...]
